.markdown {
  --md-border-color: color-mix(in oklab, var(--md-text-color), transparent 75%);
  --md-border-width: 1px;
  --md-background-color: color-mix(in oklab, var(--md-text-color), transparent 95%);

  --space-half: calc(var(--md-font-size) * 2 / 8);
  --space-1: calc(var(--md-font-size) * 4 / 8);
  --space-2: calc(var(--md-font-size) * 7 / 8);
  --space-3: calc(var(--md-font-size) * 11 / 8);
  --space-4: calc(var(--md-font-size) * 14 / 8);
  --space-5: calc(var(--md-font-size) * 18 / 8);

  font-size: var(--md-font-size);
  color: var(--md-text-color);
}

.markdown > :first-child {
  margin-block-start: 0;
}

/* paragraphs */
.markdown > p {
  margin-block-start: var(--space-2);
  line-height: var(--md-line-height);
  text-wrap: pretty;
}

/* headings */
.markdown h2,
.markdown h3 {
  color: var(--md-text-color);
  font-family: var(--md-heading-font);
  font-weight: var(--md-heading-font-weight);
  text-wrap: balance;
}

.markdown h2 {
  font-size: calc(1em * var(--md-scale));
  margin-block-start: var(--space-5);
  line-height: 1.35;
}

.markdown h3 {
  font-size: calc(1em * ((var(--md-scale) - 1) / 3 + 1));
  margin-block-start: var(--space-4);
  line-height: 1.45;
}

/* lists */
.markdown ul,
.markdown ol {
  margin-block-start: var(--space-1);
  padding-inline-start: var(--spacing-indent);
}

.markdown ul {
  list-style: disc;
}

.markdown ul ul {
  list-style: circle;
}

.markdown ul ul ul {
  list-style: square;
}

.markdown ol {
  list-style: decimal;
}

.markdown ol > li {
  padding-inline-start: 4px;
}

.markdown ul li {
  padding-inline-start: var(--space-half);
}
.markdown ul li::marker {
  font-size: 0.8em;
}

/* small space between items to make it easier to distinguish from items that have two lines. */
.markdown li + li {
  margin-block-start: var(--space-half);
}
.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-block-start: var(--space-half);
}

/* horizontal ruler */
.markdown hr {
  margin-block: var(--space-4);
  border-block-start: var(--md-border-width) solid var(--md-border-color);
}

/* blockquote */
.markdown blockquote {
  padding-inline-start: var(--space-2);
  border-inline-start: 0.18em solid var(--md-border-color);
  margin-block-start: var(--space-3);
  position: relative;

  &:empty {
    display: none;
  }
}

/* code */
.markdown code,
.markdown kbd {
  font-family: "Source Code Pro", Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  border-radius: var(--md-radius);
  font-size: 0.875em;
  padding: 2px 4px;
  margin: 0;
  background-color: var(--md-background-color);
  border: var(--md-border-width) dotted var(--md-border-color);
  line-height: var(--leading-relaxed);
}

.markdown pre {
  margin-block-start: var(--space-3);
  max-width: 100%;
}

.markdown pre code {
  display: block;
  padding: var(--space-1) var(--space-2);
  overflow: auto;
}

/* images */
.markdown img,
.markdown iframe {
  max-inline-size: 100%;
  margin-block: var(--space-3);
}

.markdown iframe {
  border-radius: var(--md-radius);
  inline-size: 100%;
}

.markdown li img {
  margin-block: var(--space-2);
}

/* headings in relation to other tags */
.markdown h2 + * {
  margin-block-start: var(--space-1) !important;
}

.markdown h2 + h3 {
  margin-block-start: var(--space-3) !important;
}

.markdown h3 + * {
  margin-block-start: var(--space-1) !important;
}

/* bold and italics */
.markdown b,
.markdown b *:not(a),
.markdown strong,
.markdown strong *:not(a) {
  font-weight: 600;
  color: var(--md-text-color);
}

.markdown em {
  font-style: italic;
}

/* links */
.markdown a,
.markdown a * {
  color: var(--md-link-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.markdown a:hover,
.markdown a:hover * {
  text-decoration: none;
}

.markdown a:active {
  scale: 0.98;
  display: inline-block;
}

/* tables */

.markdown table {
  table-layout: auto;
  inline-size: 100%;
  overflow-x: auto;
  font-size: 0.875em;
  border: var(--md-border-width) solid var(--md-border-color);
  margin-block: var(--space-3);

  @container (width < 576px) {
    display: block;
    overflow-x: auto;
  }
}
.markdown thead {
  background-color: var(--md-background-color);
  display: none;
}

.markdown thead:has(th:not(:empty)) {
  display: table-header-group;
}

.markdown tr {
  border-block-end: var(--md-border-width) solid var(--md-border-color);
}

.markdown th {
  font-weight: 600;
}

.markdown td,
.markdown th {
  padding-block: var(--space-half);
  padding-inline: var(--space-1);
  text-align: left;
  overflow-x: auto;
}

.markdown td:first-child,
.markdown th:first-child {
  inline-size: 25%;
}

.markdown td:not(first-child),
.markdown th:not(first-child) {
  min-inline-size: 200px;
}

.markdown td + td,
.markdown th + th {
  border-inline-start: var(--md-border-width) solid var(--md-border-color);
}

.markdown > div {
  margin-block: var(--space-3);
}

@media print {
  @page {
    margin: 1in;
  }
  .markdown {
    --md-border-width: 0.5px;
    --md-font-size: 11px !important;
  }

  .markdown h2,
  .markdown h3 {
    break-after: avoid;
  }

  .markdown table,
  .markdown img,
  .markdown svg {
    break-inside: avoid;
  }
}
