@import "tailwindcss";
@import "./theme.css";

@layer components {
  @import "./markdown.css";

  /* todo: reformat this when using it next to be a utility class please! */
  [data-button-card]::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  /* todo: move this to theme file */
  [x-cloak] {
    display: none !important;
  }
}
