@import "tailwindcss";
@import "./theme.css";

[x-cloak] {
  display: none !important;
}

@layer utilities {
  .grid-overlap {
    & > * {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }
}

@layer components {
  @import "./markdown.css";

  :root {
    --breakpoint-xs: 28rem; /* 448px */
    --breakpoint-sm: 40rem; /* 640px */
    --breakpoint-md: 44rem; /* 704px */
    --breakpoint-lg: 60rem; /* 960px */
    --breakpoint-xl: 70rem; /* 1120px */

    --text-sm: 17px;
    --text-base: 20px;
    --text-lg: 27px;
    --text-icon: 1.45em;
    --text-xl: 42px;
    --text-2xl: 56px;
    --text-3xl: clamp(75px, 11vw, 10rem);

    --space-site-inline: 1rem;
    --space-nav: 0.75rem;
    --space-section: 4.5rem;
    --space-section-title: 1.25rem;
    --space-dialog-inline: 1.25rem;
    --space-dialog-block: 2.5rem;
    --space-tube: 3rem;

    /* > md */
    @media screen and (min-width: 576px) {
      --space-tube: 3.25rem;
      --block-size-nav: 5.5rem;
    }

    /* > md */
    @media screen and (min-width: 704px) {
      --text-sm: 18px;
      --text-base: 22px;
      --text-lg: 32px;
      --text-2xl: 72px;
      /* --text-icon: 33px; */

      --space-site-inline: 2rem;
      --space-section: 6.5rem;
      --space-dialog-inline: 2rem;
      --space-dialog-block: 3rem;
    }

    /* > lg */
    @media screen and (min-width: 896px) {
      --space-site-inline: 3rem;
      --space-nav: 1rem;
      --space-section: 8rem;
      --space-section-title: 1.75rem;
      --space-dialog-inline: 3.5rem;
      --space-dialog-block: 3.5rem;
      --space-tube: 3.5rem;
    }

    /* > xl */
    @media screen and (min-width: 1120px) {
    }
  }

  .text-icon {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    font-family: "Material Symbols Outlined";
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 32;
  }

  [data-button-card]::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}
