@import "tailwindcss";
@import "./theme.css";

@font-face {
  font-family: MysterionBohemian;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/mysterionbohemian-webfont.woff") format("woff"), url("/assets/mysterionbohemian-webfont.woff2") format("woff2");
}

@layer components {
  @import "./markdown.css";

  /* todo: reformat this when using it next to be a utility class please! */
  [data-button-card]::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  /* todo: move this to theme file */
  [x-cloak] {
    display: none !important;
  }
}
