:root {
  color-scheme: dark;
  --icon-size: 1.45em;

  --body-sm: 18px;
  --body-base: 19.5px;
  --body-lg: 20.5px;

  --heading-sm: 21px;
  --heading-base: 24px;
  --heading-lg: 60px;

  --button-sm: 26px;
  --button-base: 29px;
  --button-lg: 32px;

  --space-site-inline: 0.5rem;
  --space-section: 4rem;

  @media screen and (min-width: 36rem) {
    --space-site-inline: 0.75rem;
  }

  @media screen and (min-width: 44rem) {
    --body-sm: 20px;
    --body-base: 22px;
    --body-lg: 26px;

    --heading-sm: 24px;
    --heading-base: 28px;
    --heading-lg: 96px;

    --button-base: 30px;
    --button-lg: 40px;
  }

  /* > lg */
  @media screen and (min-width: 56rem) {
    --space-section: 6rem;
    --space-site-inline: 1.5rem;
  }
}

@theme inline {
  /* Breakpoints ----------------------------------------------------------------------------------------------------------------------- */

  --breakpoint-xs: 28rem; /* 448px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 44rem; /* 704px */
  --breakpoint-lg: 56rem; /* 896px */
  --breakpoint-xl: 70rem; /* 1120px */

  /* Typography ------------------------------------------------------------------------------------------------------------------------ */

  --font-display: MysterionBohemian, serif;
  --font-body: Fraunces, serif;

  --text-body-sm: var(--body-sm);
  --text-body-sm--line-height: 1.35;
  --text-body-base: var(--body-base);
  --text-body-base--line-height: 1.55;
  --text-body-lg: var(--body-lg);
  --text-body-lg--line-height: 1.5;

  --text-heading-sm: var(--heading-sm);
  --text-heading-sm--line-height: 1.4;
  --text-heading-base: var(--heading-base);
  --text-heading-base--line-height: 1.3;
  --text-heading-lg: var(--heading-lg);
  --text-heading-lg--line-height: 0.9;

  --text-button-sm: var(--button-sm);
  --text-button-sm--line-height: 0.9;
  --text-button-base: var(--button-base);
  --text-button-base--line-height: 0.9;
  --text-button-lg: var(--button-lg);
  --text-button-lg--line-height: 0.9;

  /* Container ------------------------------------------------------------------------------------------------------------------------- */

  --container-*: initial;
  --container-narrow: 56rem;
  --container-base: 91.5rem;
  --container-wide: 100vw;
  --container-content: 53ch;

  /* Elevation --------------------------------------------------------------------------------------------------------------------------*/

  --z-lowered: -10;
  --z-elevated: 20;
  --z-sticky: 30;
  --z-top: 40;
  --z-top-elevated: 50;

  /* Effects --------------------------------------------------------------------------------------------------------------------------- */

  --shadow-*: initial;
  --blur-*: initial;
  --blur-sm: 1px;
  --blur-base: 3px;

  /* Spacing --------------------------------------------------------------------------------------------------------------------------- */

  --spacing-site-inline: var(--space-site-inline);
  --spacing-site-inline-2: calc(var(--space-site-inline) * 2);
  --spacing-navbar-height: var(--space-navbar-height);
  --spacing-section: var(--space-section);
  --spacing-indent: 1.5ch;
  --spacing-navbar-height: var(--space-navbar-height);
  --spacing-dvh--navbar: calc(100dvh - var(--space-navbar-height));
  --spacing-cqi: 100cqi;
  --spacing-inherit: inherit;

  /* Aspect ratio ---------------------------------------------------------------------------------------------------------------------- */

  --aspect-square: 1;

  /* Tube ------------------------------------------------------------------------------------------------------------------------------ */

  --spacing-tube-sm: 4rem;
  --spacing-tube-base: 5rem;
  --spacing-tube-lg: 6rem;

  /* Radii ----------------------------------------------------------------------------------------------------------------------------- */

  --radius-*: initial;
  --radius-sm: calc(var(--spacing-tube-sm) * 0.475);
  --radius-base: calc(var(--spacing-tube-base) * 0.475);
  --radius-lg: calc(var(--spacing-tube-lg) * 0.475);
  --radius-square: 160px;

  /* Animations ------------------------------------------------------------------------------------------------------------------------ */

  --ease-*: initial;
  --default-transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  --default-transition-duration: 100ms;
  --animate-marquee: marquee var(--animate-duration, 1s) infinite linear;
  --animate-wave: wave var(--animate-duration, 1s) infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes wave {
    0%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-1rem);
    }
    50% {
      transform: translateY(1rem);
    }
  }

  /* Color ----------------------------------------------------------------------------------------------------------------------------- */

  --color-*: initial;
  --color-current: currentColor;
  --color-inherit: inherit;
  --color-transparent: transparent;

  /* Raw --------------------------------------- */

  --color-surface: color(display-p3 0.094118 0.070588 0.129412 / 1);
  --color-neutral: #f3f0e8;
  --color-hue: color(display-p3 0.839216 0.32549 0.839216 / 1);
  --color-action: color(display-p3 0.337255 0.898039 0.776471 / 1);
  --color-validation: var(--color-fill-yellow);

  /* Text ------------------------------------ */

  --color-t-surface: color-mix(in oklab, var(--color-surface), transparent 0%);
  --color-t-neutral-light: color-mix(in oklab, var(--color-neutral), transparent 25%);
  --color-t-neutral: color-mix(in oklab, var(--color-neutral), transparent 0%);
  --color-t-hue: color-mix(in oklab, var(--color-hue), transparent 0%);
  --color-t-action: color-mix(in oklab, var(--color-action), transparent 0%);
  --color-t-validation: color-mix(in oklab, var(--color-validation), transparent 0%);

  /* Border ---------------------------------- */

  --color-border-surface: color-mix(in oklab, var(--color-surface), transparent 0%);
  --color-border-neutral-lighter: color-mix(in oklab, var(--color-neutral), transparent 65%);
  --color-border-neutral-light: color-mix(in oklab, var(--color-neutral), transparent 40%);
  --color-border-neutral: color-mix(in oklab, var(--color-neutral), transparent 0%);
  --color-border-action-light: color-mix(in oklab, var(--color-action), transparent 40%);
  --color-border-action: color-mix(in oklab, var(--color-action), transparent 0%);

  /* Background ------------------------------ */

  --color-bg-space: color-mix(in oklab, var(--color-surface), transparent 0%);
  --color-bg-surface: color-mix(in oklab, var(--color-surface), transparent 0%);
  --color-bg-neutral-lighter: color-mix(in oklab, var(--color-neutral) 2%, var(--color-surface) 35%);
  --color-bg-neutral-light: color-mix(in oklab, var(--color-neutral) 3%, var(--color-surface) 70%);
  --color-bg-neutral: color-mix(in oklab, var(--color-neutral) 9%, var(--color-surface) 70%);
  --color-bg-action-lighter: color-mix(in oklab, var(--color-action) 10%, var(--color-bg-neutral));
  --color-bg-action-light: color-mix(in oklab, var(--color-action) 20%, var(--color-surface) 80%);
  --color-bg-action: color-mix(in oklab, var(--color-action) 100%, var(--color-surface) 1%);

  /* Perceptional ---------------------------- */

  --color-fill-pink: color(display-p3 0.258824 0.05098 0.290196 / 1);
  --color-fill-blue: color(display-p3 0.054902 0.141176 0.239216 / 1);
  --color-fill-teal: color(display-p3 0.109804 0.564706 0.466667 / 1);
  --color-fill-yellow: color(display-p3 0.619608 0.486275 0.117647 / 1);
}

@utility animate-duration-* {
  --animate-duration: calc(--value(integer) * 1s);
}

@utility grid-overlap {
  & > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

@utility gap-inherit {
  gap: inherit;
}

@utility text-icon {
  transform-origin: top;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  font-family: "Material Symbols Rounded";
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  text-decoration: none !important;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0;
}

@utility bg-* {
  background-color: --value(--color-bg- *);
}
@utility border-* {
  border-color: --value(--color-border- *);
}
@utility text-* {
  color: --value(--color-t- *);
}

@utility bg-space {
  background-image: url("assets/texture.png");
  background-repeat: repeat;
  background-size: 1654px;
  background-attachment: fixed;
}

@utility text-body-lg {
  font-weight: 400;
  font-variation-settings: "SOFT" 75, "WONK" 1;
}
@utility text-body-base {
  font-weight: 400;
  font-variation-settings: "SOFT" 50, "WONK" 1;
}
@utility text-body-sm {
  font-weight: 400;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}
@utility text-heading-lg {
  font-family: var(--font-display);
  letter-spacing: 0.04em;
}
@utility text-heading-base {
  font-weight: 600;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}
@utility text-heading-sm {
  font-weight: 550;
  font-variation-settings: "SOFT" 100, "WONK" 1;
}
@utility text-button-* {
  text-transform: uppercase;
  font-family: var(--font-display);
  letter-spacing: 0.08em;
  --icon-size: 1em;
}

@utility text-validation {
  mix-blend-mode: plus-lighter;
}
