---
layout: base
eleventyExcludeFromCollections: true
permalink: /404.html
---

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<main class="flex flex-col items-center gap-section py-section grow w-full">
    {% call container({}, {class:"text-pretty flex flex-col gap-10"}) %}
            <h1 class="lg:-ml-1.5 text-2xl flex sm:flex-row justify-between flex-col gap-1 sm:gap-2 items-baseline">
                404
            </h1>
            <p class="text-lg max-w-content">Page not found. Return to the {{ button({label:"homepage", type:"link", size:"inherit"},{href:"/", class:"inline-block"}) }}?</p>
    {% endcall %}
</main>
