{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "assets.njk" import logo, sparkle, blobIndexTop, blobIndexBottom %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set showBottomLine = true %}
{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

    {% call container(
        props={
            size: "narrow",
            type: "cols-2"
        },
        attrs={class:"gap-6 justify-items-start"}
        ) %}

        {{ button(props={type: "button", size: "sm", variant: "neutral", label: "sm - Neutral", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "button", size: "sm", variant: "action", label: "sm - Action", icon:"keyboard_arrow_down",iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "button", size: "base", variant: "neutral", label: "base - Neutral", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "button", size: "base", variant: "action", label: "base - Action", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "button", size: "lg", variant: "neutral", label: "lg - Neutral", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "button", size: "lg", variant: "action", label: "lg - Action", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}

        {{ button(props={type: "link", size: "sm", variant: "neutral", label: "Small - Neutral", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "link", size: "sm", variant: "action", label: "Small - Action", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "link", size: "base", variant: "neutral", label: "Base - Neutral", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
        {{ button(props={type: "link", size: "base", variant: "action", label: "Base - Action", icon:"keyboard_arrow_down", iconPosition:"end"}, attrs={}) }}
    {% endcall %}

{% endblock %}

{% block blobs %}

    {{ blobIndexTop({class:"top-0"}) }}
    {{ blobIndexBottom({class:"bottom-0"}) }}

{% endblock %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
