{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "assets.njk" import logo, sparkle, blobContactLeft, blobContactRight %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-section gap-section" %}
{% set showNavbar = true %}
{% set showBottomLine = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"gap-8 justify-items-center"}) %}
        {{ textLockup({
            title: successPage.title,
            elaboration: successPage.elaboration,
            button: {
                props: {
                    type: "button",
                    size: "base",
                    variant: "action",
                    label: "Return home"
                },
                attrs:{
                    href: "/home",
                    class:""
                }
            }
        }) }}
    {% endcall %}
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block blobs %}
    {{ blobContactLeft({class:"fixed left-0 bottom-0 w-[50vw] max-w-[646px]"}) }}
    {{ blobContactRight({class:"fixed right-0 bottom-0 w-[50vw] max-w-[712px]"}) }}
{% endblock %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
