{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/dropdown.njk" import dropdown %}
{% from "components/button.njk" import button %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set developmentLinks = [
    { macro: button, props:{label:"Landing", type:"link", size:"sm"}, attrs:{href:"/index"} }
] %}

{% set themeStyles = "gap-1 py-2 pl-3 pr-2 text-body-sm border-1 border-neutral-light hover:bg-neutral-light hover:backdrop-blur-base" %}
{% set expandedStyles = "translate-0! bg-neutral-light backdrop-blur-base" %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}
<div x-data="{
        expanded: false,
        windowWidth: window.innerWidth,
        getWidth() {
            window.addEventListener('resize', () => {
                this.windowWidth = window.innerWidth
            })
        }
    }"
    x-init="getWidth"
    :class="expanded && '{{ expandedStyles }}'"
    class="fixed print:hidden left-0 bottom-1 z-(--z-top-elevated) -translate-x-[80%] flex items-center transition duration-500 border-l-0 rounded-l-none {{ themeStyles }}">
    <span class="flex w-full mr-1">
        <span class="xs:hidden">XS-</span>
        <span class="hidden xs:max-sm:block">XS-SM</span>
        <span class="hidden sm:max-md:block">SM-MD</span>
        <span class="hidden md:max-lg:block">MD-LG</span>
        <span class="hidden lg:max-xl:block">LG-XL</span>
        <span class="hidden xl:block">XL+</span>
        <span>&nbsp;•&nbsp;</span>
        <span x-text="windowWidth"></span>
        <span>px</span>
    </span>
    {% if developmentLinks.length > 0 %}
    {{ dropdown(
        props={
            position:["top", "left"],
            dropdownItems: developmentLinks,
            triggerProps:{label: "Dev", icon:"bug_report", type: "button", size:"sm", variant:"neutral"}
        }
    )}}
    {% endif %}
    {{ button(
        props={
            type: "button",
            size: "sm",
            variant: "neutral",
            icon: {off:"chevron_forward", on:"chevron_backward"},
            toggleValue: "expanded"
        },
        attrs={
            @click:"expanded = !expanded",
            ":title":"expanded ? 'Minimize widget' : 'Expand widget'"
        }
    ) }}
</div>
