{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/markdown.njk" import markdown %}
{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro announcementBanner(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set bannerStyles = "bg-neutral-lighter py-2 border-y border-dotted border-neutral-light" %}

{% set position %}
    {% if props.position === "bottom" %}
        fixed bottom-0
    {% else %}
        sticky top-0
    {% endif %}
{% endset %}

{% if props.position === "bottom" %}
    <style>
        body:has([data-announcement-banner].bottom-0) {
            --announcementBannerBlockSize: 4rem;
        }
    </style>
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<template
    x-data="{ showBanner: $persist(true).as('ab-{{ props.content | slugify }}') }"
    x-if="showBanner">
    <div
        data-announcement-banner
        {{ loopAttrs(attrs) }}
        class="w-full {{ position }} z-(--z-sticky) {{ bannerStyles }} {{ attrs.class }}">
        {% call container({size:"wide"}) %}
            <div class="flex items-center justify-between">
                {% if caller %}
                    {{ caller() | safe }}
                {% else %}
                    {{ markdown({content: props.content, transform: true, fontSize:"text-sm"},{class:"grow text-center line-clamp-1"}) }}
                {% endif %}
                {{ button({icon:"close_small", type:"button", size:"sm", variant:"neutral"},{@click:"showBanner = !showBanner", title:"Close announcement banner"}) }}
            </div>
        {% endcall %}
    </div>
</template>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set announcementBannerMeta = {
    args: '{{ announcementBanner(
    props={
        content: "",
        position: "top | bottom"
    },
    attrs={}
) }}',
description: "
- Default to using `content` prop for markdownified text, but you can use `{% call %}` to insert custom content.
- The banner's dismissed state resets when the `global.bannerContent` property is updated.
"
} %}
