{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro button(props={},attrs={}) %}

{# Values ----------- #}

{% set types = {
    button: {
        styles: "text-neutral font-bold leading-none bg-surface-light hover:bg-surface-lighter border-1 border-neutral-lighter hover:border-neutral-light shadow-button rounded",
        on: "",
        sizes: {
            base: "text-base min-w-15 min-h-tube px-[var(--button-space)]",
            sm: "text-sm h-10 px-[var(--button-space)]",
            fab: "text-sm rounded-full h-14 min-w-14 shadow-zine px-[var(--button-space)]"
        },
        variants: {}
    },
    link: {
        styles: "text-link underline hover:no-underline underline-offset-3 decoration-1",
        on: "",
        sizes: {
            inherit: "",
            base: "text-base",
            sm: "text-sm",
            lg: "text-base font-bold decoration-from-font"
        },
        variants: {}
    }
} %}

{% set buttonSpace %}
    {% if props.size === "sm" %}4px
    {% elseif props.size === "base" %}8px
    {% elseif props.size === "fab" %}8px
    {% endif %}
{% endset %}

{# ------------------ #}

<{% if attrs.href %}a{% else %}button{% endif %} data-button
    {{ loopAttrs(attrs) }}
    style="--button-space: {{ buttonSpace }}"
    {% if props.toggleValue %}

         {% if types[props.type].on %}
            :class="{{ props.toggleValue }} && '{{ types[props.type].on }}'"
        {% endif %}
    {% endif %}
    class="shrink-0 disabled:opacity-60 active:scale-[.98] inline-flex justify-center items-center cursor-pointer {{ attrs.class }} {% if attrs.disabled %}pointer-events-none{% endif %}
    {{ types[props.type].styles }} {{ types[props.type].sizes[props.size] }} {{ types[props.type].variants[props.variant] }}"
>
    {% if props.toggleValue %}
        <span class="flex items-center justify-center pointer-events-none">
            {% if props.icon %}
                <span x-show="!{{ props.toggleValue }}" class="px-[calc(var(--button-space)*1/3)] text-icon">{{ props.icon.off }}</span>
                <span x-show="{{ props.toggleValue }}" class="px-[calc(var(--button-space)*1/3)] text-icon">{{ props.icon.on }}</span>
            {% endif %}
            {% if props.label %}
                <span x-show="!{{ props.toggleValue }}" class="px-[calc(var(--button-space)*2/3)]">{{ props.label.off }}</span>
                <span x-show="{{ props.toggleValue }}" class="px-[calc(var(--button-space)*2/3)]">{{ props.label.on }}</span>
            {% endif %}
        </span>
    {% else %}
        {% if props.icon or props.label %}
            <span class="flex items-center justify-center pointer-events-none">
                {% if props.icon %}
                    <span class="px-[calc(var(--button-space)*1/3)] text-icon">{{ props.icon }}</span>
                {% endif %}
                {% if props.label %}
                    <span class="px-[calc(var(--button-space)*2/3)]">{{ props.label }}</span>
                {%- endif -%}
            </span>
        {% endif %}
    {% endif %}




    {%- if not props.label and not props.icon -%}
        {% if caller %}
            {{ caller() | safe }}
        {% endif %}
    {%- endif -%}

</{% if attrs.href %}a{% else %}button{% endif %}>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set buttonMeta = {
    args: '{{ button(
    props={
        type: "button | link",
        size: "base | lg | sm | inherit",
        label: "",
        icon: "",
        toggleValue: ""
    },
    attrs={}
) }}',
description: "
- Tag defaults to `button` unless you provide a `href`, then it'll be an `a` tag.
- Optionally you can use `{% call %}` to give custom inner HTML.
- `props.toggleValue` is the `x-data` value that the button looks for to determine its on/off state. If you use this property, the `button` expects the `props.icon` and `props.label` values to be objects with `on` and `off` keys.
"
} %}
