{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/icon.njk" import icon %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro button(props={},attrs={}) %}

{# Values ----------- #}

{% set buttonSpace %}
    {% if props.size === "sm" %}24px
    {% elseif props.size === "base" %}28px
    {% elseif props.size === "lg" %}36px
    {% endif %}
{% endset %}

{% set buttonStyles = "transition-transform decoration-[1.5px] underline-offset-4" %}

{% set types = {
    button: {
        styles: "hover:scale-[1.05] active:scale-[.99] h-fit hover:underline border",
        on: "",
        sizes: {
            sm: "text-button-sm min-w-tube-sm min-h-tube-sm rounded-sm gap-4 px-6",
            base: "text-button-base min-w-tube-base min-h-tube-base rounded-base gap-4 px-7",
            lg: "text-button-lg min-w-tube-base min-h-tube-base rounded-base gap-5 px-7 md:min-w-tube-lg md:min-h-tube-lg md:rounded-lg md:gap-7 md:px-9"
        },
        variants: {
            neutral: "border-neutral-light bg-neutral hover:bg-action-lighter hover:border-action-light",
            action: "border-action-light bg-action-light hover:bg-action hover:border-neutral-lighter hover:text-surface"
        }
    },
    link: {
        styles: "hover:scale-[1.025] active:scale-[.98]",
        on: "",
        sizes: {
            inherit: "",
            sm: "text-body-sm gap-1.5",
            base: "text-body-base gap-2"
        },
        variants: {
            neutral:"hover:underline hover:text-action",
            action:"text-action underline hover:no-underline"
        }
    }
} %}

{# ------------------ #}

<{% if attrs.href %}a{% else %}button{% endif %} data-button
    {{ loopAttrs(attrs) }}
    style="--button-space: {{ buttonSpace }}"
    {% if props.toggleValue %}
         {% if types[props.type].on %}
            :class="{{ props.toggleValue }} && '{{ types[props.type].on }}'"
        {% endif %}
    {% endif %}
    class="shrink-0 disabled:opacity-60 inline-flex justify-center items-center cursor-pointer {{ attrs.class }} {% if attrs.disabled %}pointer-events-none{% endif %}
    {{ types[props.type].styles }} {{ types[props.type].sizes[props.size] }} {{ types[props.type].variants[props.variant] }} {{ buttonStyles }}"
>
    {% if props.toggleValue %}
        <span class="flex items-center justify-center pointer-events-none gap-inherit {% if props.iconPosition === "end" %}flex-row-reverse{% endif %}">
            {% if props.icon %}
                {% set show %}{{ props.toggleValue }} == false {% endset %}
                {{ icon({icon:props.icon.off}, {class:"fill-current", "x-show":show}) }}
                {% set show %}{{ props.toggleValue }} == true {% endset %}
                {{ icon({icon:props.icon.on}, {class:"fill-current", "x-show":show}) }}
            {% endif %}
            {% if props.label %}
                <span x-show="!{{ props.toggleValue }}" class="">{{ props.label.off }}</span>
                <span x-show="{{ props.toggleValue }}" class="">{{ props.label.on }}</span>
            {% endif %}
        </span>
    {% else %}
        {% if props.icon or props.label %}
            <span class="flex items-center justify-center pointer-events-none gap-inherit {% if props.iconPosition === "end" %}flex-row-reverse{% endif %}">
                {% if props.icon %}
                    {{ icon({icon:props.icon}, {class:"fill-current"}) }}
                {% endif %}
                {% if props.label %}
                    <span class="">{{ props.label }}</span>
                {%- endif -%}
            </span>
        {% endif %}
    {% endif %}




    {%- if not props.label and not props.icon -%}
        {% if caller %}
            {{ caller() | safe }}
        {% endif %}
    {%- endif -%}

</{% if attrs.href %}a{% else %}button{% endif %}>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set buttonMeta = {
    args: '{{ button(
    props={
        type: "button | link",
        size: "base | lg | sm | inherit",
        label: "",
        icon: "",
        toggleValue: ""
    },
    attrs={}
) }}',
description: "
- Tag defaults to `button` unless you provide a `href`, then it'll be an `a` tag.
- Optionally you can use `{% call %}` to give custom inner HTML.
- `props.toggleValue` is the `x-data` value that the button looks for to determine its on/off state. If you use this property, the `button` expects the `props.icon` and `props.label` values to be objects with `on` and `off` keys.
"
} %}
