{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/figure.njk" import figure %}
{% from "components/icon.njk" import icon %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set carouselStyles = "gap-8" %}

{% set slideStyles = "gap-8 overflow-hidden" %}
{% set slideImageStyles = "border border-neutral-lighter bg-neutral rounded-lg overflow-hidden" %}
{% set slideCaptionStyles = "text-center text-body-base" %}

{% set controlsStyles = "gap-6 justify-between items-center" %}

{% set indicatorRowStyles = "min-w-tube-sm min-h-tube-sm rounded-sm gap-2 xs:gap-3 px-4 xs:px-6 bg-neutral backdrop-blur-base border-neutral-lighter border" %}
{% set indicatorStyles = "size-3 @md:size-2.5 checked:bg-action border border-neutral-light hover:bg-(--color-neutral) rounded-full" %}

{% set buttonProps = {
    type: "button",
    size: "sm",
    variant: "neutral"
} %}
{% set buttonStyles = "grow" %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carousel(props={}, attrs={}) %}

<div data-carousel
    role="group"
    aria-roledescription="carousel"
    x-data="{
        currentSlideIndex: 1,
        stopVideos() {
            document.querySelectorAll('iframe').forEach(v => { v.src = v.src });
            document.querySelectorAll('video').forEach(v => { v.pause() });
        },
        previous() {
            if (this.currentSlideIndex > 1) {
                this.currentSlideIndex = this.currentSlideIndex - 1
            } else {
                // If it's the first slide, go to the last slide
                this.currentSlideIndex = {{ props.slides | length }}
            }
            this.stopVideos()
        },
        next() {
            if (this.currentSlideIndex < {{ props.slides | length }}) {
                this.currentSlideIndex = this.currentSlideIndex + 1
            } else {
                // If it's the last slide, go to the first slide
                this.currentSlideIndex = 1
            }
            this.stopVideos()
        },
    }"
    {{ loopAttrs(attrs) }}
    class="@container relative w-full flex flex-col grow {{ attrs.class }} {{ carouselStyles }}">

{# slides ------------------ #}

    <div
        aria-atomic="false"
        aria-live="polite"
        tabindex="0"
        {% if props.indicators %}
            role="tablist"
            aria-label="slides"
        {% endif %}
        class="relative grid grid-overlap overflow-hidden grow">

        {# loading svg #}
        <div data-loader class="animate-spin text-neutral text-body-lg place-self-center z-(--z-lowered)">{{ icon({icon:"progress_activity"}) }}</div>

        {# slide #}
        {% for item in props.slides %}
            <div
                x-data="{ id: $id('carousel-slide')}"
                aria-label="{{ loop.index }} of {{ loop.length }}"
                {% if props.indicators %}
                    :aria-selected="currentSlideIndex == {{ loop.index }}"
                    aria-labelledby="carousel-tab-{{ loop.index }}"
                    role="tabpanel"
                {% else %}
                    role="group"
                    aria-roledescription="slide"
                {% endif %}
                :id="id"
                :class="currentSlideIndex !== {{ loop.index }} && 'invisible opacity-0'"
                class="flex w-full transition transition-discrete duration-500"
                {{ loopAttrs(attrs) }}>

                {# slide macro #}
                {{ props.macro(item,{class:"w-full"}) }}
            </div>
        {% endfor %}

    </div>

{# controls bar ------------------ #}

    {% if props.slides.length > 1 %}
        <div class="flex {{ controlsStyles }}">

            {# previous button #}
            {{ button(
                props={
                    type: buttonProps.type,
                    size: buttonProps.size,
                    variant: buttonProps.variant,
                    icon: "arrow_back",
                    tooltip:"Previous slide"
                },
                attrs={
                    "@click": "previous()",
                    "class": buttonStyles
                }
            ) }}

            {# tablist #}
            {% if props.indicators %}
                <div
                    role="tablist"
                    aria-label="Choose slide to display"
                    class="flex self-center justify-self-center justify-center items-center overflow-x-auto {{ indicatorRowStyles }}">
                    {% for slide in props.slides %}
                        <div x-data="{ id: $id('carousel-tab')}" class="flex">
                            <label class="sr-only" :for="id">View slide {{ loop.index }}</label>
                            <input
                                aria-controls="carousel-slide-{{ loop.index }}"
                                :checked="currentSlideIndex === {{ loop.index }}"
                                x-on:change="currentSlideIndex = {{ loop.index }}"
                                :id="id"
                                type="radio"
                                :name="id"
                                value="View slide {{ loop.index }}"
                                class="{{ indicatorStyles }} appearance-none pointer-events-auto"/>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {# next button #}
            {{ button(
                props={
                    type: buttonProps.type,
                    size: buttonProps.size,
                    variant: buttonProps.variant,
                    icon: "arrow_forward",
                    tooltip: "Next slide"
                },
                attrs={
                    "@click": "next()",
                    "class": buttonStyles
                }
            ) }}

        </div>
    {% endif %}
</div>

{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carouselImage(props={}, attrs={}) %}

    <div
        x-show="currentSlideIndex == {{ props.loop.index }}"
        x-transition.opacity.duration.600ms
        {{ loopAttrs(attrs) }}
        class="flex {{ carouselSlideStyles }} {{ attrs.class }}">
        {{ caller() }}
    </div>

{% endmacro %}

{% macro carouselIFrame(props={}, attrs={}) %}
    <figure
        x-show="currentSlideIndex == {{ props.loop.index }}"
        x-transition.opacity.duration.600ms
        {{ loopAttrs(attrs) }}
        class="flex flex-col {{ slideStyles }}">
        <div class="grow {{ slideImageStyles }}">
            <iframe
                loading="lazy"
                class="h-full w-full object-cover aspect-video"
                src="https://www.youtube.com/embed/{{ props.embed }}"
                title="{{ props.title }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
            </iframe>
        </div>
        {% if props.title %}<figcaption class="{{ slideCaptionStyles }}">{{ props.title }}</figcaption>{% endif %}
    </figure>
{% endmacro %}



{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set carouselMeta = {
    args: '{% call carousel(
    props={
        slides: [],
        indicators: true | false
    },
    attrs={}
) %}
    {% from "components/carousel.njk" import carouselSlide %}
    {% for slide in slides %}
        {% call carouselSlide({loop:loop}) %}
            {# slide content #}
        {% endcall %}
    {% endfor %}
{% endcall %}',
description: ""
} %}
