{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set carouselStyles = "gap-8" %}

{% set slideStyles = "gap-8 overflow-hidden" %}
{% set slideImageStyles = "border border-neutral-lighter bg-neutral rounded-lg overflow-hidden" %}
{% set slideCaptionStyles = "text-center text-body-base" %}

{% set controlsStyles = "gap-6 justify-between items-center" %}

{% set indicatorRowStyles = "min-w-tube-sm min-h-tube-sm rounded-sm gap-3 px-6 bg-neutral backdrop-blur-base border-neutral-lighter border" %}
{% set indicatorStyles = "size-3 @md:size-2.5 checked:bg-action border border-neutral-light hover:bg-(--color-neutral) rounded-full" %}

{% set buttonProps = {
    type: "button",
    size: "sm",
    variant: "neutral"
} %}
{% set buttonStyles = "grow" %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carousel(props={}, attrs={}) %}

<div
    data-carousel
    x-data="{
        currentSlideIndex: 1,
        previous() {
            if (this.currentSlideIndex > 1) {
                this.currentSlideIndex = this.currentSlideIndex - 1
            } else {
                // If it's the first slide, go to the last slide
                this.currentSlideIndex = {{ props.slides | length }}
            }
        },
        next() {
            if (this.currentSlideIndex < {{ props.slides | length }}) {
                this.currentSlideIndex = this.currentSlideIndex + 1
            } else {
                // If it's the last slide, go to the first slide
                this.currentSlideIndex = 1
            }
        },
    }"
    {{ loopAttrs(attrs) }}
    class="@container relative w-full flex flex-col grow {{ attrs.class }} {{ carouselStyles }}">

    <div class="relative grid grid-overlap overflow-hidden grow">
        {% for slide in props.slides %}
            {{ carouselIFrame({loop:loop, embed:slide.embed, title:slide.title }) }}
        {% endfor %}
    </div>
    <div class="flex {{ controlsStyles }}">
        {{ button(
            props={
                type: buttonProps.type,
                size: buttonProps.size,
                variant: buttonProps.variant,
                icon: "arrow_back"
            },
            attrs={
                "aria-label":"Previous slide",
                "title":"Previous slide",
                "@click": "previous()",
                "class": buttonStyles
            }
        ) }}
        {% if props.indicators %}
            <div class="flex self-center justify-self-center justify-center items-center {{ indicatorRowStyles }}" role="group" aria-label="slides" >
                {% for slide in props.slides %}
                    <div x-data="{ id: $id('carousel-radio')}" class="flex">
                        <input
                            :checked="currentSlideIndex === {{ loop.index }}"
                            x-on:change="currentSlideIndex = {{ loop.index }}"
                            :id="id"
                            type="radio"
                            name="id"
                            value="View slide {{ loop.index }}"
                            class="{{ indicatorStyles }} appearance-none pointer-events-auto"/>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {{ button(
            props={
                type: buttonProps.type,
                size: buttonProps.size,
                variant: buttonProps.variant,
                icon: "arrow_forward"
            },
            attrs={
                "aria-label":"Next slide",
                "title":"Next slide",
                "@click": "next()",
                "class": buttonStyles
            }
        ) }}

    </div>
</div>

{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% macro carouselImage(props={}, attrs={}) %}

    <div
        x-show="currentSlideIndex == {{ props.loop.index }}"
        x-transition.opacity.duration.600ms
        {{ loopAttrs(attrs) }}
        class="{{ carouselSlideStyles }} {{ attrs.class }}">
        {{ caller() }}
    </div>

{% endmacro %}

{% macro carouselIFrame(props={}, attrs={}) %}
    <figure
        x-show="currentSlideIndex == {{ props.loop.index }}"
        x-transition.opacity.duration.600ms
        {{ loopAttrs(attrs) }}
        class="flex flex-col {{ slideStyles }}">
        <div class="grow {{ slideImageStyles }}">
            <iframe
                class="h-full w-full object-cover"
                src="https://www.youtube.com/embed/{{ props.embed }}"
                title="{{ props.title }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
            </iframe>
        </div>
        {% if props.title %}<figcaption class="{{ slideCaptionStyles }}">{{ props.title }}</figcaption>{% endif %}
    </figure>
{% endmacro %}



{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set carouselMeta = {
    args: '{% call carousel(
    props={
        slides: [],
        indicators: true | false
    },
    attrs={}
) %}
    {% from "components/carousel.njk" import carouselSlide %}
    {% for slide in slides %}
        {% call carouselSlide({loop:loop}) %}
            {# slide content #}
        {% endcall %}
    {% endfor %}
{% endcall %}',
description: ""
} %}
