{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set themeStyles = "" %}

{% set sizeStyles =
    {
        "content": "w-[var(--container-content)] max-w-[calc(100cqi-2*var(--spacing-site-inline))]",
        "narrow": "w-[var(--container-narrow)] max-w-cqi",
        "base": "w-[var(--container-base)] max-w-cqi",
        "full": "max-w-vw"
    }
 %}

{% set typeStyles =
    {
        "flex": "flex",
        "cols-1": "grid",
        "cols-2": "grid xl:grid-cols-2",
        "sidebar": "grid lg:grid-cols-[300px_1fr]"
    }
 %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro container(props={}, attrs={})%}

    <div
        data-container
        {{ loopAttrs(attrs) }}
        class="mx-auto
        {% if props.size %}{{sizeStyles[props.size]}}{% else %}{{ sizeStyles.base }}{% endif %}
        {% if props.type %}{{typeStyles[props.type]}}{% else %}{{ typeStyles["cols-1"] }}{% endif %}
        {{ themeStyles }}
        {{ attrs.class }}
    ">
        {{ caller() | safe }}
    </div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set containerMeta = {
    args: '{% call container(
    props={
        size: "narrow | base | full",
        type: "flex | cols-1 | cols-2 | sidebar"
    },
    attrs={}
) %}
{% endcall %}',
description: "
- Wrapper for most page content sections.
- `props.size` to set max-width
- `props.type` to define columns or sidebar layouts.
"
} %}
