{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro copyToClipboard(props={}, attrs={}) %}

<span
    x-data="{
        input: {% if props.input %}'{{ props.input }}'{% else %}$refs.{{ props.copyRef }}.innerText{% endif %},
        copy () {
            $clipboard(this.input)
            $dispatch('notify', { content:'{{props.toastMessage}}', toasterId:'{% if props.toasterId %}{{ props.toasterId }}{% else %}toaster{% endif %}' })
        }
    }"
    {{ loopAttrs(attrs) }}
    class="inline-block {{ attrs.class }}">
    {% if caller %}
        {{ caller() | safe }}
    {% else %}
        {{ props.trigger.macro(props.trigger.props, props.trigger.attrs) }}</li>
    {% endif %}
</span>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set copyToClipboardMeta = {
    args: '{{ copyToClipboard(
    props={
        input: "" | copyRef: "",
        trigger: { macro:button, props:{}, attrs:{"@click":"copy"} },
        toastMessage: "",
        toasterId: ""
    },
    attrs={}
) }}',
description: "
- Use `input` or `copyRef`, not both. `copyRef` is the `x-ref` value of an element inside the caller() that you want to copy the `innerText` value of.
- Use `props.trigger` to define the trigger element, or give an element inside the caller() the attribute `@click: 'copy'` to trigger the copy event.
- Must have the `toaster` component somewhere on the page for this component to work.
"
} %}
