{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro drawer(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set drawerStyles = "w-full h-dvh--navbar overflow-hidden bg-surface/75 backdrop-blur-base" %} {# applied to the wrapper for the panel #}
{% set panelStyles = "@container content-center bg-neutral-light border-neutral-lighter py-site-inline px-site-inline" %}
{% set duration = "duration-600" %}

{% if props.alignment === "top" %}

    {% set drawerAlignmentStyles = "flex-col top-navbar-height" %}
    {% set panelAlignmentStyles = "border-b" %}
    {% set transitionStyles = "-translate-y-full" %}

{% elseif props.alignment === "bottom" %}

    {% set drawerAlignmentStyles = "flex-col bottom-0 justify-end" %}
    {% set panelAlignmentStyles = "border-t" %}
    {% set transitionStyles = "translate-y-full" %}

{% elseif props.alignment === "right" %}

    {% set drawerAlignmentStyles = "flex top-navbar-height justify-end" %}
    {% set panelAlignmentStyles = "grow border-l max-w-[80%]" %}
    {% set transitionStyles = "translate-x-full" %}

{% elseif props.alignment === "left" %}

    {% set drawerAlignmentStyles = "flex top-navbar-height justify-start" %}
    {% set panelAlignmentStyles = "grow border-r max-w-[80%]" %}
    {% set transitionStyles = "-translate-x-full" %}

{% endif %}

{# Other ------------------ #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-drawer
    x-data="{
        drawerOpen: false,
        toggleDrawer() {
            if (this.drawerOpen) {
                return this.close()
            }
            this.$refs.trigger.focus()
            this.drawerOpen = true;
            scrollable = false;
        },
        close(focusAfter) {
            if (! this.drawerOpen) return
            this.drawerOpen = false
            scrollable = !scrollable;
            focusAfter && focusAfter.focus()
        },
    }"
    x-on:resize.window.debounce="close()"
    x-on:keydown.escape.prevent.stop="close($refs.trigger)"
    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
    class="flex {{ attrs.class }}">

    {# Trigger Button #}
    {% set newProps = props.triggerProps | assign({toggleValue: "drawerOpen"}) %}
    {{ button(newProps, {class:"grow", "@click": "toggleDrawer()", "x-ref":"trigger"}) }}

    <template x-teleport="body">

        <div {# wrapper for panel #}
            x-cloak
            x-show="drawerOpen"
            x-transition:enter-start="opacity-0"
            x-transition:leave-end="opacity-0"
            class="flex z-(--z-top) grow fixed overflow-y-auto transition {{ duration }} {{ drawerStyles }} {{ drawerAlignmentStyles }}">

            {# Panel – thing that transitions #}
            <div
                x-ref="panel"
                x-show="drawerOpen",
                x-transition:enter-start="{{ transitionStyles }}"
                x-transition:leave-end="{{ transitionStyles }}"
                @click="if($event.target !== $refs.panel && $event.target.tagName.toLowerCase() === 'a') { close($refs.button) }"
                @click.outside="close($refs.trigger)"
                class="transition {{ duration }} {{ panelStyles }} {{ panelAlignmentStyles }}"
            >
                {% if caller %}
                    {{ caller() | safe }}
                {% endif %}
            </div>

        </div>

    </template>
</div>

{% endmacro %}
