{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% macro icon(props={},attrs={}) %}

    <svg class="{{ attrs.class }} text-icon w-(--icon-size) h-(--icon-size) -mx-[.25em] fill-current" {{ loopAttrs(attrs) }} viewBox="0 0 var(--icon-size) var(--icon-size)" xmlns="http://www.w3.org/2000/svg">
        <text x="0%" y="50%" font-size="var(--icon-size)" dominant-baseline="middle" text-anchor="start">{{ props.icon }}</text>
    </svg>

{% endmacro %}
