{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro marquee(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set marqueeStyles = "" %}
{% set maskStyles = "mask-x-from-80% mask-x-to-100%" %}

{# Other ------------------ #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-marquee
    {{ loopAttrs(attrs) }}
    style="--gap: {{ props.itemGap | replace("gap-", "") * 4 }}px" {# used to calculate the marquee animation #}
    class="@container
        flex w-full overflow-hidden select-none
        {{ props.itemGap }}
        {{ attrs.class }}
        {{ marqueeStyles }}
        {% if props.mask %}{{ maskStyles }}{% endif %}
        ">
    <ul class="shrink-0 flex {{ props.itemGap }} basis-full w-fit grow justify-between animate-marquee {% if props.pauseOnHover %}hover:[animation-play-state:paused]{% endif %}" style="--animate-duration: {{ props.duration }}">
        {{ caller() | safe }}
    </ul>
    <ul aria-hidden="true" class="shrink-0 flex {{ props.itemGap }} basis-full w-fit grow justify-between animate-marquee {% if props.pauseOnHover %}hover:[animation-play-state:paused]{% endif %}" style="--animate-duration: {{ props.duration }}">
        {{ caller() | safe }}
    </ul>
</div>
{% endmacro %}



{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set marqueeMeta = {
    args: '{% call marquee(
    props={
        duration: "45s",
        itemGap: "gap-6"
        mask: boolean,
        pauseOnHover: boolean,
    },
    attrs={}
) %}
{% endcall %}',
description: "
- Put elements you want repeated inside the `{{ caller() }}`
"
} %}
