{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro marquee(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

<style>
    [data-marquee] > * {
        --px-width: tan(atan2(1512px, 1px));
        --marquee-duration: calc(var(--px-width) / 1500 * {{ props.speed }})
    }
</style>

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    data-marquee
    x-data="{
        pauseOnHover: true,
        init() {
            this.$nextTick(() => {
                this.$refs.marqueeTrack.appendChild(this.$refs.marqueeList.cloneNode(true));
            });
        }
    }"
    class="relative @container {{ attrs.class }}"
    {{ loopAttrs(attrs) }}
>
    {% if props.fadeEdges %}
        <div aria-hidden="true" class="absolute inset-y-0 z-(--z-elevated) w-[5%] start-0 bg-linear-to-r from-surface to-transparent"></div>
        <div aria-hidden="true" class="absolute inset-y-0 z-(--z-elevated) w-[5%] end-0 bg-linear-to-l from-surface to-transparent"></div>
    {% endif %}
  <div
    x-ref="marqueeTrack"
    style="--animate-duration: var(--marquee-duration)"
    class="
      relative
      flex
      min-w-max
      w-full
      animate-marquee
    "
    {% if props.pauseOnHover %}x-bind:class="{ 'hover:[animation-play-state:paused]': pauseOnHover }"{% endif %}
  >
    <div x-ref="marqueeList" class="flex items-center justify-around w-fit flex-nowrap">
        {{ caller() | safe }}
    </div>
  </div>
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set marqueeMeta = {
    args: '{% call marquee(
    props={
        speed: "25s",
        pauseOnHover: boolean,
        fadeEdges: boolean
    },
    attrs={}
) %}
{% endcall %}',
description: "
- Put elements you want repeated inside the `{{ caller() }}`
"
} %}
