{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/section.njk" import section %}
{% from "components/container.njk" import container %}
{% from "components/drawer.njk" import drawer %}
{% from "assets.njk" import logo, sparkle %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro navbar(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set themeAlignment = "left" %}
{% set drawerOnNarrow = true %}

{% set navbarStyles = "@container z-(--z-top) border-b border-neutral-lighter py-3 xl:py-6 bg-neutral-lighter backdrop-blur-sm hover:bg-neutral-light hover:backdrop-blur-base pointer-coarse:bg-neutral-light focus-within:bg-neutral-light pointer-coarse:bg-neutral-light pointer-coarse:backdrop-blur-base focus-within:backdrop-blur-base transition duration-600" %}
{% set stickyStyles = "sticky top-0 !bg-neutral-light" %}
{% set onScrollStyles = "!bg-neutral-light !backdrop-blur-base" %}
{% set itemGap = "gap-7" %}

{# Nav content defaults ------------ #}

{# Logo #}
{% set navbarLogo %}
   <a class="hover:scale-[1.05] active:scale-[.99] transition-transform" href="/home" aria-label="Home">{{ logo({class:"fill-neutral h-8.5"}) }}</a>
{% endset %}

{# Wide screen left side content  #}
{% set leftSide %}
{% endset%}

{# Wide screen right side content  #}
{% set rightSide %}
    {% set divider = joiner(sparkle({class:"fill-hue h-3.5 self-center"}) | safe) %}
    {% for link in navLinks %}
        {{ divider() }}
        {{ button({type:"link", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
    {% endfor %}
{% endset %}

{# Narrow screen drawer contents – delete to use same content as wide screen right/left sides #}
{% set drawerContents %}
    {% call container({size:"base", type:"cols-1"},{class:"gap-4"}) %}
        {{ button({type:"button", size:"base", variant:"neutral", label:"home"},{href:"/home"}) }}
        {% for link in navLinks %}
            {{ button({type:"button", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
        {% endfor %}
    {% endcall %}
{% endset %}

{# Other ------------------ #}

{% set alignment %}{% if props.alignment %}{{ props.alignment }}{% else %}{{ themeAlignment }}{% endif %}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<nav data-navbar
    {{ loopAttrs(attrs) }}
    x-ref="navbar"
    :class="{'-translate-y-full' : navbarHidden, '{{ onScrollStyles }}' : hasScrolled | !scrollable }"
    class="w-full flex flex-col relative {{ attrs.class }} {{ navbarStyles }} {% if props.sticky %}{{ stickyStyles }}{% endif %}">

    {% call section({padding: "site", tag:"div"},{}) %}

        {# wide screen container #}
        <div {% if drawerOnNarrow %}class="hidden xl:block"{% endif %}>
            {% call container({size: "base", type:"flex"},{class:"items-center justify-between"}) %}

                <div data-slot="left"
                class="grow flex items-center justify-start flex-wrap {{ itemGap }}
                {% if alignment === "left" %}{% elseif alignment === "center" %}basis-1/2 shrink{% endif %}">

                    {{ navbarLogo | safe }}
                    {{ props.leftSide | safe }}

                </div>

                {% if alignment === "center" %}
                    <div data-slot="center" class="grow flex items-center justify-center flex-wrap shrink-0 {{ itemGap }}">

                        {# Center content #}

                    </div>
                {% endif %}

                <div data-slot="right"
                class="grow flex items-stretch justify-end flex-wrap {{ itemGap }}
                {% if alignment === "left" %}shrink-0{% endif %}">
                    {% if props.rightSide %}{{ props.rightSide | safe }}{% else %}{{ rightSide | safe }}{% endif %}
                </div>

            {% endcall %}
        </div>

        {# the narrow screen container that has the drawer #}
        {% if drawerOnNarrow %}
            <div class="xl:hidden">
                {% call container({size: "base", type:"flex"},{class:"items-center justify-between"}) %}
                    {{ navbarLogo | safe }}

                    {% if leftSide or rightSide or props.leftSide or props.rightSide %}
                        {% call drawer({
                            alignment:"top",
                            triggerProps:{ icon:{off:"menu", on:"close"}, tooltip:"Navigation menu", type:"button", variant:"neutral", size:"sm"}
                        }) %}
                            {# Displays the drawerContents variable if it exists, otherwise duplicates the wide screen navbar content #}
                            {% if drawerContents %}
                                {{ drawerContents | safe }}
                            {% else %}
                                {% if props.leftSide %}{{ props.leftSide | safe }}{% else %}{{ leftSide | safe }}{% endif %}
                                {% if props.rightSide %}{{ props.rightSide | safe }}{% else %}{{ rightSide | safe }}{% endif %}
                            {% endif %}
                        {% endcall %}
                    {% endif %}
                {% endcall %}
            </div>
        {% endif %}
    {% endcall %}
</nav>

{% endmacro %}
