{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/container.njk" import container %}
{% from "components/drawer.njk" import drawer %}
{% from "assets.njk" import logo, sparkle %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro navbar(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Nav content ------------ #}

{% set navbarLogo %}
   <a class="hover:scale-[1.05] active:scale-[.99] transition-transform" href="/landing">{{ logo({class:"fill-neutral h-8.5"}) }}</a>
{% endset %}

{% set rightSide %}
    {% set joinerSparkle %}
        {{ sparkle({class:"fill-hue h-3.5"}) }}
    {% endset%}
    {% set divider = joiner(joinerSparkle | safe) %}

    {% for link in navLinks %}
        {{ divider() }}
        {{ button({type:"link", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
    {% endfor %}
{% endset %}

{% set drawerContents %}
    {% call container({size:"base", type:"flex"},{class:"flex-col gap-4"}) %}
        {% for link in navLinks %}
            {{ button({type:"button", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
        {% endfor %}
    {% endcall %}
{% endset %}

{# Theme styles ----------- #}


{% set themeAlignment = "left" %}
{% set drawerOnNarrow = true %}

{% set navbarStyles = "@container z-(--z-sticky) border-b border-neutral-lighter py-3 xl:py-site-inline lg:px-site-inline bg-neutral-lighter backdrop-blur-sm hover:bg-neutral-light hover:backdrop-blur-base pointer-coarse:bg-neutral-light pointer-coarse:backdrop-blur-base transition duration-600" %}
{% set containerStyles = "" %}
{% set stickyStyles = "sticky top-0 !bg-neutral-light" %}
{% set onScrollStyles = "!bg-neutral-light !backdrop-blur-base" %}
{% set itemGap = "gap-8" %}

{# Other ------------------ #}

{% set alignment %}{% if props.alignment %}{{ props.alignment }}{% else %}{{ themeAlignment }}{% endif %}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<nav
    data-navbar
    x-ref="navbar"
    x-data="{
        setNavbarHidden() {
            const currentScrollY = window.scrollY;
            if (currentScrollY > lastScrollY && hasScrolled) {
                navbarHidden = true
            } else if (currentScrollY < lastScrollY + 100  && hasScrolled) {
                navbarHidden = false
            }

            lastScrollY = currentScrollY
        }
    }"
    :class="{'-translate-y-full' : navbarHidden, '{{ onScrollStyles }}' : hasScrolled | !scrollable }"
    @scroll.window="setNavbarHidden()"
    {{ loopAttrs(attrs) }}
    class="w-full flex flex-col relative {{ attrs.class }} {{ navbarStyles }}
    {% if props.sticky %}{{ stickyStyles }}{% endif %}">

    <div class="{%if drawerOnNarrow %}hidden xl:block{% endif %}">
        {% call container({size: "base", type:"flex"},{class:"items-center justify-between"}) %}

            <div data-slot="left"
            class="grow flex items-center justify-start flex-wrap {{ itemGap }}
            {% if alignment === "left" %}{% elseif alignment === "center" %}basis-1/2 shrink{% endif %}">

                {{ navbarLogo | safe }}
                {{ props.leftSide | safe }}

            </div>

            {% if alignment === "center" %}
                <div data-slot="center" class="grow flex items-center justify-center flex-wrap shrink-0 {{ itemGap }}">

                    {# Center content #}

                </div>
            {% endif %}

            <div data-slot="right"
            class="grow flex items-center justify-end flex-wrap {{ itemGap }}
            {% if alignment === "left" %}shrink-0{% endif %}">
                {% if props.rightSide %}{{ props.rightSide | safe }}{% else %}{{ rightSide | safe }}{% endif %}
            </div>

        {% endcall %}
    </div>

    {% if drawerOnNarrow %}
        <div class="xl:hidden">
            {% call container({size: "base", type:"flex"},{class:"items-center justify-between"}) %}
                {{ navbarLogo | safe }}
                {% if leftSide or rightSide or props.leftSide or props.rightSide %}
                    {% call drawer({ alignment:"top", triggerProps:{ icon:{off:"menu", on:"close"}, type:"button", variant:"neutral", size:"sm"} }) %}
                        {% if drawerContents %}
                            {{ drawerContents | safe }}
                        {% else %}
                            {{ props.leftSide | safe }}
                            {% if props.rightSide %}{{ props.rightSide | safe }}{% else %}{{ rightSide | safe }}{% endif %}
                        {% endif %}
                    {% endcall %}
                {% endif %}
            {% endcall %}
        </div>
    {% endif %}

</nav>

{% endmacro %}
