{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}
{% from "components/section.njk" import section %}
{% from "components/container.njk" import container %}
{% from "components/dialog.njk" import dialog %}
{% from "assets.njk" import logo, sparkle %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro navbar(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set themeAlignment = "left" %}
{% set dialogOnNarrow = true %}
{% set minScrollSpeed = 35 %}

{% set navbarStyles = "@container z-(--z-top) border-b border-neutral-lighter py-3 xl:py-6 bg-neutral-lighter backdrop-blur-sm hover:bg-neutral-light hover:backdrop-blur-base pointer-coarse:bg-neutral-light focus-within:bg-neutral-light pointer-coarse:bg-neutral-light pointer-coarse:backdrop-blur-base focus-within:backdrop-blur-base duration-600" %}
{% set itemGap = "gap-7" %}
{% set stickyStyles = "sticky top-0 !bg-neutral-light" %}
{% set onScrollStyles = "!bg-neutral-light !backdrop-blur-base" %}

{% set dialogTriggerProps = {
    type:"button",
    variant:"neutral",
    size:"sm",
    label: "",
    icon: {off:"menu", on:"close"},
    tooltip: {off: "Open navigation menu", on:"Close navigation menu"}
} %}

{# Nav content defaults ------------ #}

{# Logo #}
{% set navbarLogo %}
   <a class="hover:scale-[1.05] active:scale-[.99] transition-transform" href="/home" aria-label="Home">{{ logo({class:"fill-neutral h-8.5"}) }}</a>
{% endset %}

{# Wide screen left side content  #}
{% set leftSideDefault %}
{% endset%}

{# Wide screen right side content  #}
{% set rightSideDefault %}
    {% set divider = joiner(sparkle({class:"fill-hue h-3.5 self-center"}) | safe) %}
    {% for link in navLinks %}
        {{ divider() }}
        {{ button({type:"link", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
    {% endfor %}
{% endset %}

{# Narrow screen dialog contents – delete to use same content as wide screen right/left sides #}
{% set dialogContents %}
    {% call container({size:"base", type:"cols-1"},{class:"gap-4"}) %}
        {{ button({type:"button", size:"base", variant:"neutral", label:"home"},{href:"/home"}) }}
        {% for link in navLinks %}
            {{ button({type:"button", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
        {% endfor %}
    {% endcall %}
{% endset %}

{# Defaults ------------------ #}

{% set alignment %}{{ props.alignment | safe if props.alignment else themeAlignment | safe }}{% endset %}
{% set leftContent %}{{ props.leftSide | safe if props.leftSide else leftSideDefault | safe }}{% endset %}
{% set rightContent %}{{ props.rightSide | safe if props.rightSide else rightSideDefault | safe }}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<nav data-navbar
    {{ loopAttrs(attrs) }}
    x-ref="navbar"
    x-data="{
        navbarHidden: false,
        lastScrollPos: 0,
        navbarHeight: $refs.navbar.offsetHeight,
        setNavbarVisibility() {
            const diff = window.scrollY - this.lastScrollPos;
            if (!hasScrolled) {
                this.navbarHidden = false
            } else if (diff > {{ minScrollSpeed }}) {
                this.navbarHidden = true
            } else if (diff < -{{ minScrollSpeed }} ) {
                this.navbarHidden = false
            }
            this.setNavbarHeight()
            this.lastScrollPos = Math.floor(window.scrollY)
        },
        setNavbarHeight() {
            if (this.navbarHidden) {
                this.navbarHeight = 0;
            } else {
                this.navbarHeight = this.$refs.navbar.offsetHeight;
            }
            document.documentElement.style.setProperty('--space-navbar', this.navbarHeight + 'px')
        },
        init() { {# sets navbar height on js load #}
            setTimeout(() => {
                this.navbarHidden = false
                this.setNavbarHeight()
            }, 100);
        }
    }"
    @scroll.window.throttle.100ms="setNavbarVisibility"
    @resize.window="setNavbarHeight"
    :class="{'-translate-y-full' : navbarHidden, '{{ onScrollStyles }}' : hasScrolled }"
    class="w-full flex flex-col transition {{ attrs.class }} {{ navbarStyles }} {{ stickyStyles if props.sticky }}">

    {% call section({tag:"div"}) %}

        {# wide screen container #}
        {% call container({size: "base", type:"flex"},{class:"items-center justify-between" + " max-xl:hidden" if dialogOnNarrow }) %}

            <div data-slot="left" class="grow flex items-center justify-start flex-wrap {{ itemGap }} {% if alignment === "center" %}basis-1/2 shrink{% endif %}">
                {{ navbarLogo | safe if alignment !== "center" }}
                {{ leftContent | safe }}
            </div>

            {% if alignment === "center" %}
                <div data-slot="center" class="grow flex items-center justify-center flex-wrap shrink-0 {{ itemGap }}">
                    {{ navbarLogo | safe }}
                </div>
            {% endif %}

            <div data-slot="right" class="grow flex items-stretch justify-end flex-wrap {{ itemGap }} {% if alignment === "left" %}shrink-0{% elseif alignment === "center" %}basis-1/2 shrink{% endif %}">
                {{ rightContent | safe }}
            </div>

        {% endcall %}

        {# the narrow screen container that has the dialog #}
        {% if dialogOnNarrow %}
            {% call container({size: "base", type:"flex"},{class:"items-center justify-between xl:hidden"}) %}
                {{ navbarLogo | safe }}
                {% if leftContent or rightContent %}
                    {% call dialog({
                        alignment:"top",
                        triggerProps: dialogTriggerProps,
                        teleportedStyles: "top-navbar"
                    }) %}
                        {# Displays the dialogContents variable if it exists, otherwise duplicates the wide screen navbar content #}
                        {% if dialogContents %}
                            {{ dialogContents | safe }}
                        {% else %}
                            {{ leftContent | safe }}
                            {{ rightContent | safe }}
                        {% endif %}
                    {% endcall %}
                {% endif %}
            {% endcall %}
        {% endif %}
    {% endcall %}
</nav>

{% endmacro %}
