{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro newMarquee(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set newMarqueeStyles = "overflow-hidden select-none" %}
{% set maskStyles = "mask-x-from-80% mask-x-to-100%" %}

{# Other ------------------ #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div data-newMarquee
    {{ loopAttrs(attrs) }}
    style="--gap: {{ props.itemGap | replace("gap-", "") * 4 }}px" {# used to calculate the marquee animation #}
    class="
        flex w-full
        {{ props.itemGap }}
        {{ attrs.class }}
        {{ newMarqueeStyles }}
        {% if props.mask %}{{ maskStyles }}{% endif %}
        ">
    <ul class="shrink-0 flex {{ props.itemGap }} justify-around min-w-full animate-marquee" style="--animate-duration: {{ props.duration }}">
        {{ caller() | safe }}
    </ul>
    <ul aria-hidden="true" class="shrink-0 flex {{ props.itemGap }} justify-around min-w-full animate-marquee" style="--animate-duration: {{ props.duration }}">
        {{ caller() | safe }}
    </ul>
</div>
{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set newMarqueeMeta = {
    args: '{% call newMarquee(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
