{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro section(props={}, attrs={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{# Theme styles ----------- #}

{% set sectionStyles = "w-full @container" %}
{% set paddingStyles =
    {
        "site": "px-site-inline grid-cols-[minmax(1px,var(--container-base))] justify-center",
        "lines": "px-lines",
        "none": ""
    }
 %}

{# Other ------------------ #}

{% set tag %}{% if props.tag %}{{ props.tag }}{% else %}section{% endif %}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<{{ tag }} data-section
    {{ loopAttrs(attrs) }}
    class="grid
        {{ attrs.class }}
        {{ sectionStyles }}
        {% if props.padding %}{{ paddingStyles[props.padding] }}{% else %}{{ paddingStyles.site }}{% endif %}
    ">
    {{ caller() | safe }}
</{{ tag }}>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set sectionMeta = {
    args: '{% call section(
    props={
        padding: boolean,
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
