{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/_fieldParts.njk" import fieldLabel, fieldDescription, directionStyles, fieldStyles %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro textarea(props={}, attrs={}) %}

<div
    {% if props.fieldAttrs.value %}x-init="{{ props.name }} = '{{ props.fieldAttrs.value }}'"{% endif %}
    {{ loopAttrs(attrs) }}
    class="{% if props.direction %}{{ directionStyles[props.direction] }}{% else %}{{ directionStyles['column'] }}{% endif %} {{ attrs.class }}">

    {% if props.label %}{{ fieldLabel({tag: "label", fieldProps:props}) }}{% endif %}

    <span class="{{ fieldWrapperStyles }}">
        <textarea
            x-model="{{ props.name }}"
            name="{{ props.name }}"
            id="{{ props.name }}"
            {{ loopAttrs(props.fieldAttrs) }}
            class="w-full {{ fieldStyles }} {{ props.fieldAttrs.class }}"></textarea>
    </span>

    {% if props.description %}{{ fieldDescription(props) }}{% endif %}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set textareaMeta = {
    args: '{{ textarea(
    props={
        name: "",
        label: "",
        description: "",
        fieldAttrs: {
            value: "",
            placeholder: "",
            required: boolean,
            rows: ""
        },
        direction: "column | row"
    },
    attrs={}
) }}',
description: "
- If you want access to the value, define a `x-data` value in a parent element with the key as the `props.name` of this component.
"
} %}
