{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro toaster(props={}) %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set toasterStyles = "gap-2 top-nav right-site-inline left-site-inline" %}
{% set toastStyles = "gap-item-sm bg-neutral border-neutral-light border shadow-zine rounded text-surface-light p-item-sm min-h-tube" %}
{% set toastContentStyles = "text-base px-item-sm" %}
{# {% set fancyStackingClasses = "*:last-of-type:z-10 *:not-last-of-type:scale-95 *:not-last-of-type:translate-y-2 grid grid-overlap" %} #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<div
    x-data="{
        toasts: [],
        add(e) {
            if ( e.detail.toasterId === '{% if props.id %}{{ props.id }}{% else %}toaster{% endif %}') {
                this.toasts.push({
                    id: e.timeStamp,
                    content: e.detail.content
                })
            }
        },
        remove(toast) {
            this.toasts = this.toasts.filter(i => i.id !== toast.id)
        }
    }"
    @notify.window="add($event)"
    id="{% if props.id %}{{ props.id }}{% else %}toaster{% endif %}"
    data-toaster
    role="status"
    aria-live="polite"
    class="fixed flex items-center flex-col-reverse justify-center z-(--z-top-elevated) pointer-events-none {{ toasterStyles }} {{ fancyStackingClasses }}">

    <template x-for="toast in toasts" :key="toast.id">
        <div
            x-data="{
                show: false,
                init() {
                    this.$nextTick(() => this.show = true)
                    setTimeout(() => this.transitionOut(), 2000)
                },
                transitionOut() {
                    this.show = false
                    setTimeout(() => this.remove(this.toast), 300)
                }
            }"
            x-show="show"
            x-transition:enter-start="opacity-0 -translate-y-2"
            x-transition:leave-end="opacity-0 -translate-y-2"
            class="flex items-center pointer-events-auto text-center duration-200 delay-100 transition {{ toastStyles }}">
            <span class="{{ toastContentStyles }}" x-text="toast.content"></span>
            {# {{button({icon:"×", type:"button", size:"sm"},{@click:"transitionOut()"})}} #}
        </div>
    </template>

</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set toasterMeta = {
    args: '{{ toaster(
    props={id:""}
) }}',
description: "
- Put this component somewhere in your base layout.
- Trigger a new toast with the `$dispatch('notify', { content:'{{ message }}' })` function on an element.
"
} %}
