{# Icon font -------------------------------------------------------------------------------------------------------------------------- #}

{% set comma = joiner() %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names={% for icon in icons | sort() %}{{ comma() }}{{ icon }}{% endfor %}&display=block" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{# Theme fonts -------------------------------------------------------------------------------------------------------------------------- #}

<style>
@font-face {
  font-family: MysterionBohemian;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/assets/mysterionbohemian-webfont.woff") format("woff"),
    url("/assets/mysterionbohemian-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fraunces.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
