
{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set pageDescription %}{{ global.siteDescription }}{% endset %}
{% set pageTitle %}{% if data.seoTitle %}{{ data.seoTitle }} •{% elseif title %}{{ title }} •{% endif %}{{ global.siteTitle }} – {{ pageDescription }}{% endset %}
{% set ogImage %}{{- global.siteDomain -}}{% if seo.ogImage %}{{- page.fileSlug -}}{{- seo.ogImage -}}{% else %}{{- global.siteImage -}}{% endif %}{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle | safe }}</title>
<meta name="description" content="{{ pageDescription }}">
<link rel="canonical" href="{{ global.siteDomain }}{{ page.url }}">
<meta property="og:title" content="{{ pageTitle | safe }}"/>
<meta property="og:description" content="{{ pageDescription }}"/>
<meta property="og:url" content="{{ global.siteDomain }}{{ page.url }}">
<meta property="og:image" content="{{ ogImage }}"/>
<meta property="og:image:secure_url" content="{{ ogImage }}">
<meta property="og:type" content="{% if ogType %}{{ ogType }}{% else %}website{% endif %}"/>
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="icon" type="image/x-icon" href="{{ global.siteDomain }}{{ global.favicon }}">
<meta name="theme-color" content="var(--color-surface)">
<link rel="stylesheet" href="/styles.css" defer>
{% include "snippets/fonts.njk" %}
