{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-site-block gap-site-block" %}
{% set showNavbar = true %}
{% set showBottomLine = false %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

    {% call container(props={size: "wide", type: "cols-1"}, attrs={class:""}) %}
    {% endcall %}

{% endblock %}

{% block footer %}
{% endblock footer %}

{% block blobs %}
{% endblock %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
