{# Imports ----------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/toaster.njk" import toaster %}
{% from "components/announcementBanner.njk" import announcementBanner with context %}
{% from "components/container.njk" import container %}
{% from "components/section.njk" import section %}
{% from "components/button.njk" import button %}
{% from "components/navbar.njk" import navbar with context %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}


{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set pageTitle %}
    {%- if seoTitle -%}
        {{ seoTitle }} –
    {% elseif title %}
        {{ title }} –
    {% endif %}
    {{- global.siteTitle -}}
{% endset %}

{% set pageDescription %}
    {% if seoDescription %}{{- seoDescription -}}{% endif %} {{global.siteDescription -}}
{% endset %}

{% set ogImage %}
    {{- global.siteDomain -}}{% if seo.ogImage %}{{- page.fileSlug -}}{{- seo.ogImage -}}{% else %}{{- global.siteImage -}}{% endif %}
{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<!DOCTYPE html>
<html
    {% if showNavbar %} {# checks if the layout template includes the navbar or not #}
        x-data="{
            scrollable: true,
            navbarHidden: false,
            navbarHeight: 0,
            hasScrolled: false,
            lastScrollY: window.scrollY,
            setHasScrolled() {
                if (this.lastScrollY > this.navbarHeight) {
                    this.hasScrolled = true
                } else {
                    this.hasScrolled = false
                }
            },
            {# getNavbarHeight() {
                setTimeout(() => {
                    let navbarHeight = document.querySelector(`[x-ref='navbar']`).offsetHeight;
                    if (this.navbarHidden) {
                        navbarHeight = 0;
                    }
                    return {'--space-navbar-height': navbarHeight+'px'}
                }, 150);
            } #}
            {# getNavbarHeight() {
                this.navbarHeight = document.querySelector(`[x-ref='navbar']`).offsetHeight;
                if (this.navbarHidden) {
                    this.navbarHeight = 0;
                }
            }, #}
            init() {
                setTimeout(() => {
                    this.navbarHeight = document.querySelector(`[x-ref='navbar']`).offsetHeight;
                }, 500);
            }
        }"
        {# x-effect="getNavbarHeight"
        @resize.window="getNavbarHeight" #}
        @scroll.window="setHasScrolled"
        :style="{'--space-navbar-height': navbarHeight + 'px'}"
    {% endif %}
    lang="en"
    class="scroll-smooth scroll-p-site-block relative">

    <head>
        {% include "snippets/htmlHead.njk" %}
    </head>

    <body
    :class="!scrollable && 'overflow-y-hidden'"
    class="
      bg-space
      font-body
      text-neutral
      text-body-base
      antialiased
      flex
      flex-col
      min-h-dvh
      w-screen
      overflow-x-hidden
      items-center
      pb-[calc(env(safe-area-inset-bottom)+var(--announcementBannerBlockSize))]
    ">
        {# Skip to content link #}
        <a class="absolute top-0 left-0 opacity-0 z-[-1111111]" href="#main" aria-label="skip to main content">Click to skip to main content</a>

        {% block blobs %}
            {{ blobDefaultTop({class:"top-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
            {{ blobDefaultBottom({class:"bottom-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
        {% endblock %}

        {% if showTopLine %}
            <div class="hidden lg:block z-(--z-top-elevated) w-screen h-lines border-b border-neutral-lighter"></div>
        {% endif %}

        {% if global.bannerContent %}
            {{ announcementBanner({content: global.bannerContent }) }}
        {% endif %}

        {% if showNavbar %}
            {{navbar({sticky:true}) }}
        {% endif %}


        {{ toaster() }}

        <main id="main" class="@container flex flex-col justify-center w-full grow {{ mainStyles }}">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}

        <div class="block z-(--z-top-elevated) fixed pointer-events-none border-x border-neutral-lighter h-dvh w-[calc(100vw-2*var(--space-lines))]"></div>

        {% if showBottomLine %}
            <div class="block z-(--z-top-elevated) w-screen h-lines border-t border-neutral-lighter"></div>
        {% endif %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

        {% if environment.env == 'dev' %}
            {% include "components/_developmentWidget.njk" %}
        {% endif %}

        {% include "snippets/scripts.njk" %}


    </body>
</html>
