{# Imports ----------------------------------------------------------------------------------------------------------------------------- #}

{% from "components/toaster.njk" import toaster %}
{% from "components/announcementBanner.njk" import announcementBanner with context %}
{% from "components/container.njk" import container %}
{% from "components/button.njk" import button %}
{% from "components/navbar.njk" import navbar with context %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}


{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set pageTitle %}
    {%- if seoTitle -%}
        {{ seoTitle }} –
    {% elseif title %}
        {{ title }} –
    {% endif %}
    {{- global.siteTitle -}}
{% endset %}

{% set pageDescription %}
    {% if description %}{{- description -}}{% endif %} {{global.siteDescription -}}
{% endset %}

{% set ogImage %}
    {{- global.siteDomain -}}{% if ogImage %}{{- page.fileSlug -}}{{- ogImage -}}
    {% else %}
        {{- global.siteImage -}}
    {% endif %}
{% endset %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

<!DOCTYPE html>
<html
    {% if showNavbar %}
    x-data="{
        scrollable: true,
        navbarHidden: false,
        hasScrolled: false,
        lastScrollY: window.scrollY,
        setHasScrolled() {
            if (this.lastScrollY > 83) {
                this.hasScrolled = true
            } else {
                this.hasScrolled = false
            }
        },
        getNavbarHeight() {
            let navbarHeight = document.querySelector(`[x-ref='navbar']`).offsetHeight;
            if (this.navbarHidden) {
                navbarHeight = 0;
            }
            return {'--space-navbar-height': navbarHeight+'px'}
        }
    }"
    :class="!scrollable && ''"
    :style="getNavbarHeight"
    @scroll.window="setHasScrolled"
    {% endif %}
    lang="en"
    class="scroll-smooth scroll-p-section-title relative">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle | safe }}</title>
        <meta property="og:title" content="{{ pageTitle | safe }}"/>
        <meta name="description" content="{{ pageDescription }}">
        <meta property="og:description" content="{{ pageDescription }}"/>
        <meta property="og:url" content="{{ global.siteDomain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ ogImage }}"/>
        <meta property="og:type" content="{% if ogType %}{{ ogType }}{% else %}website{% endif %}"/>
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="icon" type="image/x-icon" href="{{ global.siteDomain }}{{ global.favicon }}">
        <link rel="stylesheet" href="/styles.css">

        {% include "snippets/fonts.njk" %}
    </head>
    <body
    :class="!scrollable && 'overflow-hidden'"
    class="bg-space font-body text-neutral text-body-base antialiased flex flex-col min-h-dvh overflow-x-hidden items-center pb-[calc(env(safe-area-inset-bottom)+var(--announcementBannerBlockSize))]">

        {% block blobs %}
            {{ blobDefaultTop({class:"top-0 max-h-[25vh] w-full left-1/2 -translate-x-1/2 min-w-[620px]"}) }}
            {{ blobDefaultBottom({class:"bottom-0 max-h-[25vh] w-full left-1/2 -translate-x-1/2 min-w-[620px]"}) }}
        {% endblock %}

        {% if showTopLine %}
            <div class="hidden lg:block z-(--z-top) w-screen h-site-inline border-b border-neutral-lighter"></div>
        {% endif %}

        {% if global.bannerContent %}
            {{ announcementBanner({content: global.bannerContent }) }}
        {% endif %}

        {% if showNavbar %}
            {{navbar({sticky:true}) }}
        {% endif %}


        {{ toaster() }}

        <main class="@container flex flex-col justify-center w-full grow {{ mainStyles }}">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}

        <div class="block z-(--z-top) fixed pointer-events-none border-x border-neutral-lighter h-dvh w-[calc(100vw-2*var(--space-site-inline))]"></div>

        {% if showBottomLine %}
            <div class="block z-(--z-top) w-screen h-site-inline border-t border-neutral-lighter"></div>
        {% endif %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

        {% if environment.env == 'dev' %}
            {% include "components/_developmentWidget.njk" %}
        {% endif %}

        {% include "snippets/scripts.njk" %}


    </body>
</html>
