{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}
{% from "components/carousel.njk" import carousel %}
{% from "components/divider.njk" import divider %}
{% from "assets.njk" import logo, sparkle, blobOffering %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "" %}
{% set showBottomLine = true %}
{% set showNavbar = true %}

{% set previousOffering = collections.offering | getPreviousCollectionItem %}
{% set nextOffering = collections.offering | getNextCollectionItem %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
{% call section({padding: "lines"}) %}
        {% call container(props={size: "full", type: "cols-2"}, attrs={class:"relative"}) %}
            <div class="flex flex-col">
                <div class="flex flex-col gap-12 py-16 px-site-inline--lines w-full max-w-content self-center">
                    <div data-breadcrumbs class="flex items-center gap-3">
                        {{ button({type:"link", size:"sm", variant:"action", label:"All offerings", icon:"chevron_backward"},{href:"/offerings"}) }}
                        <span>/</span>
                        <p class="text-body-sm">{{ title }}</p>
                    </div>
                    <h1 class="text-heading-lg text-hue text-pretty">{{ title }}</h1>
                    {{ markdown({content: content, transform: false}, attrs={class:"w-full"}) }}
                </div>
                <div class="hidden xl:flex items-center gap-6 py-6 px-site-inline border-t border-neutral-lighter">
                    {% if previousOffering %}{{ button({type:"link", size:"base", variant:"action", label:previousOffering.data.title, icon:"chevron_backward"}, {href:previousOffering.url, class:"mr-auto"}) }}{% endif %}
                    {% if nextOffering %}{{ button({type:"link", size:"base", variant:"action", label:nextOffering.data.title, icon:"chevron_forward", iconPosition:"end"}, {href:nextOffering.url, class:"ml-auto"}) }}{% endif %}
                </div>
            </div>
            {% if photos.length %}
                <div class="xl:h-dvh--navbar transition-all duration-600 xl:sticky top-navbar-height flex shrink-0 flex-col max-xl:border-t border-neutral-lighter">
                    <div class="grow bg-neutral-light backdrop-blur-base p-8 lg:p-12 flex flex-col max-h-full">
                        {% call carousel(
                            props={
                                slides: photos,
                                indicators: true
                            },
                            attrs={class:"grow max-h-[90dvh] xl:max-h-[500px] xl:max-h-full"}
                        ) %}
                            {% from "components/carousel.njk" import carouselSlide %}
                            {% for slide in photos %}
                                {% call carouselSlide({loop:loop}) %}
                                    <figure>
                                        <div class="border border-neutral-lighter bg-neutral rounded-square overflow-hidden"><img class="max-w-full shrink" src="{{ slide.image }}" alt="{{ slide.caption }}"></div>
                                        <figcaption>{{slide.caption}} </figcaption>
                                    </figure>
                                {% endcall %}
                            {% endfor %}
                        {% endcall %}
                    </div>
                </div>
            {% endif %}
            {{ divider({direction:"vertical"},{class:"hidden xl:block absolute top-0 left-1/2 h-full"}) }}
            <div class="xl:hidden flex items-center gap-6 py-6 px-site-inline border-t border-neutral-lighter bg-neutral-light backdrop-blur-base">
                {% if previousOffering %}{{ button({type:"link", size:"base", variant:"action", label:previousOffering.data.title, icon:"chevron_backward"}, {href:previousOffering.url, class:"mr-auto"}) }}{% endif %}
                {% if nextOffering %}{{ button({type:"link", size:"base", variant:"action", label:nextOffering.data.title, icon:"chevron_forward", iconPosition:"end"}, {href:nextOffering.url, class:"ml-auto"}) }}{% endif %}
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block blobs %}
    {{ blobOffering({class:"hidden xl:block top-0 right-0 bottom-0 h-dvh fixed"}) }}
    {{ blobDefaultTop({class:"xl:hidden top-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
    {{ blobDefaultBottom({class:"xl:hidden bottom-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
{% endblock %}
