{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}
{% from "components/textLockup.njk" import textLockup %}
{% from "components/divider.njk" import divider %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "pt-40 pb-56 gap-24" %}
{% set showBottomLine = true %}
{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"gap-8 justify-items-center md:px-16"}) %}
        {{ textLockup({
            title: title,
            elaboration: elaboration
        }) }}
    {% endcall %}
    {{ divider() }}
    {% call container(props={size: "wide", type: "cols-2"}, attrs={class:"gap-12 items-center md:px-16"}) %}
        <div class="border border-neutral-lighter bg-neutral rounded-lg overflow-hidden"><img class="max-w-full shrink" src="{{ photo }}" alt="{{ slide.caption }}"></div>
        {{ markdown({content: content, transform: false}, attrs={class:"w-full"}) }}
    {% endcall %}
    {{ divider() }}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"gap-8 justify-items-center"}) %}
        {{ button({label: "Contact me", type:"button", variant:"action", size:"lg"},{href:"/contact"})}}
    {% endcall %}
{% endblock %}
