{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "" %}
{% set showBottomLine = true %}
{% set showNavbar = true %}

{% set previousArtform = collections.artform | getPreviousCollectionItem %}
{% set nextArtform = collections.artform | getNextCollectionItem %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"flex flex-col pt-40 pb-52 gap-12 md:px-16"}) %}
        <h1 class="text-heading-lg text-hue text-pretty">{{ title }}</h1>
        {{ markdown({content: content, transform: false}, attrs={class:"w-full"}) }}
    {% endcall %}
{% endblock %}
