{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/markdown.njk" import markdown %}
{% from "components/textLockup.njk" import textLockup %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "pt-48 pb-64 gap-32 md:px-16" %}
{% set showBottomLine = true %}
{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"gap-8 justify-items-center"}) %}
        {{ textLockup({
            title: title,
            elaboration: elaboration
        }) }}
    {% endcall %}
    {% call container(props={size: "wide", type: "cols-2"}, attrs={class:"gap-12"}) %}
        {{ markdown({content: content, transform: false}, attrs={class:"w-full"}) }}
        <div class="border border-neutral-lighter bg-neutral rounded-square overflow-hidden"><img class="max-w-full shrink" src="{{ photo }}" alt="{{ slide.caption }}"></div>
    {% endcall %}
{% endblock %}
