{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{# {% set data = cms.DATASOURCE %} #}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set showBottomLine = true %}
{% set showNavbar = true %}
{% set title = data.title %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

    {# page title #}
    {% call section({padding: "site"}, {class:"py-site-block"}) %}
        {% call container({size: "content", type: "cols-1"}) %}
            {{ textLockup({
                title: data.title,
                elaboration: data.elaboration,
                button: data.button
            }) }}
        {% endcall %}
    {% endcall %}

    {% if showDivider %}
        {{ divider({},{class:""}) }}
    {% endif %}

    {% block pageContent %}{% endblock %}

{% endblock %}
