---
eleventyExcludeFromCollections: true
permalink: /404.html
---

{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = 404Page %}
{% set showDivider = false %}
{% set mainStyles = "py-12 gap-12 lg:py-32" %}
{% set title = "404" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
