{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# {% from "components/**.njk" import ** %} #}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = _pageTemplatePage %}
{% set showDivider = true %}
{% set mainStyles = "py-12 gap-12 lg:py-32" %}
{# {% set button = {
    props: {
        type: "button",
        size: "base",
        variant: "action",
        label: "Return home"
    },
    attrs: {
        href: "/home"
    }
} %} #}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}
    {% call section({padding: "site"}) %}
        {% call container(props={size: "base", type: "cols-1"}, attrs={class:"gap-12 items-center justify-items-center md:px-16"}) %}
            {# {{ markdown({content: body, transform: true}, attrs={class:"w-full max-w-content"}) }} #}
        {% endcall %}
    {% endcall %}
{% endblock %}
