{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{# {% set data = cms.DATASOURCE %} #}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set showDivider = true %}
{% set mainStyles = "py-12 gap-12 lg:py-32" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}
    {% call section({padding: "site"}) %}
        {% call container(props={size: "base", type: "cols-1"}, attrs={class:"gap-12 items-center justify-items-center md:px-16"}) %}
            {# {{ markdown({content: body, transform: true}, attrs={class:"w-full max-w-content"}) }} #}
        {% endcall %}
    {% endcall %}
{% endblock %}
