
{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "components/textLockup.njk" import textLockup %}
{% from "components/input.njk" import input %}
{% from "components/checkbox.njk" import checkbox %}
{% from "components/textarea.njk" import textarea %}
{% from "assets.njk" import logo, sparkle, blobContactRight, blobContactLeft %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-section gap-16" %}
{% set showNavbar = true %}
{% set showBottomLine = true %}




{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
    {% call container(props={size: "content", type: "cols-1"}, attrs={class:"gap-8 justify-items-center"}) %}
        {{ textLockup({
            title: contactPage.title,
            elaboration: contactPage.elaboration
        }) }}
    {% endcall %}

    {% call container(props={size: "narrow", type: "cols-1"}, attrs={class:"gap-16"}) %}
        <div
            x-data="{
                    name: '',
                    contactMethod: '',
                    interest: [],
                    message:''
                }">
            <form
                name="contact"
                method="POST"
                action="/success"
                netlify
                tabindex="0"
                class="w-full gap-16 grid border border-neutral-lighter bg-neutral-light backdrop-blur-base p-24">
                {{ input(
                    props={
                        name: "name",
                        label: contactPage.nameField.label,
                        description: contactPage.nameField.hint,
                        fieldAttrs: {
                            type: "text",
                            required: true,
                            autocomplete: false
                        }
                    }
                ) }}

                {{ input(
                    props={
                        name: "contactMethod",
                        label: contactPage.contactMethodField.label,
                        description: contactPage.contactMethodField.hint,
                        fieldAttrs: {
                            type: "text",
                            required: true,
                            autocomplete: false
                        }
                    }
                ) }}

                {{ checkbox(
                    props={
                        name: "interest",
                        label: contactPage.interestField.label,
                        description: contactPage.interestField.hint,
                        options: contactPage.interestField.options,
                        fieldAttrs:{
                        }
                    },
                    attrs={class: "w-full"}
                ) }}
                {{ textarea(
                    props={
                        name: "message",
                        label: contactPage.messageField.label,
                        description: contactPage.messageField.hint,
                        fieldAttrs: {
                            rows: "10"
                        }
                    }
                ) }}
                {{ button({label: "Submit", type:"button", size:"lg", variant: "action"}, {type:"submit", class:"mx-auto"}) }}
            </form>
    </div>

    {% endcall %}

{% endblock %}

{% block footer %}
{% endblock footer %}

{% block blobs %}
    {{ blobContactLeft({class:"fixed left-0 bottom-0 w-[50vw] max-w-[646px]"}) }}
    {{ blobContactRight({class:"fixed right-0 bottom-0 w-[50vw] max-w-[712px]"}) }}
{% endblock %}


{# ------------------------------------------------------------------------------------------------------------------------------------- #}
