
{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/input.njk" import input %}
{% from "components/checkbox.njk" import checkbox %}
{% from "components/textarea.njk" import textarea %}
{% from "assets.njk" import blobContactRight, blobContactLeft %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = contactPage %}
{% set mainStyles = "" %}
{% set showDivider = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}
    {% call section({padding: "lines"}) %}
        {% call container(props={size: "narrow", type: "cols-1"}, attrs={class:"gap-12 items-center justify-items-center"}) %}
            <div
                class="w-full"
                x-data="{
                        name: '',
                        contactMethod: '',
                        message:''
                    }">
                <form
                    name="contact"
                    method="POST"
                    action="/success"
                    netlify
                    tabindex="0"
                    class="w-full grid lg:border-x border-neutral-lighter bg-neutral-light backdrop-blur-base px-site-inline py-12 gap-12 sm:px-16 lg:gap-16 lg:p-24">
                    {{ input(
                        props={
                            name: "name",
                            label: contactPage.nameField.label,
                            description: contactPage.nameField.hint,
                            fieldAttrs: {
                                type: "text",
                                required: true,
                                autocomplete: false
                            }
                        }
                    ) }}

                    {{ input(
                        props={
                            name: "contactMethod",
                            label: contactPage.contactMethodField.label,
                            description: contactPage.contactMethodField.hint,
                            fieldAttrs: {
                                type: "text",
                                required: true,
                                autocomplete: false
                            }
                        }
                    ) }}

                    {# {{ checkbox(
                        props={
                            name: "interest",
                            label: contactPage.interestField.label,
                            description: contactPage.interestField.hint,
                            options: contactPage.interestField.options,
                            fieldAttrs:{
                            }
                        },
                        attrs={class: "w-full"}
                    ) }} #}

                    {{ textarea(
                        props={
                            name: "message",
                            label: contactPage.messageField.label,
                            description: contactPage.messageField.hint,
                            fieldAttrs: {
                                rows: "7"
                            }
                        }
                    ) }}
                    {{ button({label: "Submit", type:"button", size:"lg", variant: "action"}, {type:"submit", class:""}) }}
                </form>
            </div>
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block blobs %}
    {{ blobContactLeft({class:"hidden lg:block fixed left-0 bottom-0 w-[50vw] max-w-[646px]"}) }}
    {{ blobContactRight({class:"hidden lg:block fixed right-0 bottom-0 w-[50vw] max-w-[712px]"}) }}
        {{ blobDefaultTop({class:"lg:hidden top-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
    {{ blobDefaultBottom({class:"lg:hidden bottom-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}

{% endblock %}
