{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/section.njk" import section %}
{% from "components/marquee.njk" import marquee %}
{% from "components/button.njk" import button %}
{% from "components/figure.njk" import figure %}
{% from "assets.njk" import logo, sparkle, blobDefaultTop, blobDefaultBottom %}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.homePage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-site-block gap-site-block" %}
{% set showBottomLine = false %}
{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

    {# Marquee #}
    {% call section({padding: "none"}) %}
        {% call container(props={size: "full", type: "cols-1"}, attrs={class:"overflow-x-hidden"}) %}
            {% call marquee({
                mask: false,
                itemGap:"gap-6",
                duration: "45s",
                pauseOnHover: false
            },{
                class:"h-[382px] lg:h-[482px] py-4"
            }) %}
                {% for item in data.figures %}
                    <li
                        style="--animate-duration: 10s; animation-delay:calc(-1 * {{loop.index}} * var(--animate-duration)/{{ loop.length }}*2)"
                        class="max-h-full animate-wave {{ item.aspect }}">
                        {{ figure(props=item, attrs={class:"h-full "}) }}
                    </li>
                {% endfor %}
            {% endcall %}
        {% endcall %}
    {% endcall %}

    {# Navigation links #}
    {% call section({padding: "site"}) %}
        {% call container(props={size: "narrow",type: "cols-1"}) %}
            <div class="grid lg:grid-cols-2 gap-4 lg:gap-6 relative ">
                {% for link in navLinks %}
                    {{ button({type:"button", size:"base", variant:"neutral", label:link.label},{href:link.href}) }}
                {% endfor %}
                {{ sparkle({class:"fill-hue h-6 absolute left-1/2 top-1/2 -translate-1/2 hidden lg:block"})}}
            </div>
        {% endcall %}
    {% endcall %}

{% endblock %}

{% block footer %}
    {% call section({padding: "site"}, {class:"border-t border-neutral-lighter bg-neutral-lighter hover:bg-neutral-light focus-within:bg-neutral-light focus-within:backdrop-blur-base pointer-coarse:bg-neutral-light pointer-coarse:backdrop-blur-base transition duration-600 backdrop-blur-sm hover:bg-neutral-light hover:backdrop-blur-base"}) %}
        {% call container(props={size: "base",type: "flex"},attrs={class:"text-body-sm gap-6 relative flex-col xl:flex-row items-center justify-center pt-4 pb-8 xl:py-4 text-center gap-4 xl:gap-6"}) %}
            <span>Copyright {{ helpers.currentYear() }} {{ global.siteTitle }}</span>
            {{ sparkle({class:"fill-hue h-3.5 order-first xl:order-none"}) }}
            <span>Website design and development by {{ button({type:"link", size:"inherit", variant:"action", label:"Chicago Design Collective"},{href:"https://drive.proton.me/urls/VVVEAKPAF0#I10aLlkKDSvR", target:"_blank"}) }}</span>
        {% endcall %}
    {% endcall %}
{% endblock footer %}

{% block blobs %}
    {{ blobDefaultTop({class:"top-0 h-[40vh] w-full left-1/2 -translate-x-1/2"}) }}
    {{ blobDefaultBottom({class:"bottom-0 h-[30vh] w-full left-1/2 -translate-x-1/2"}) }}
{% endblock %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}
