---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/container.njk" import container %}
{% from "components/button.njk" import button %}
{% from "assets.njk" import logo, blobIndexTop, blobIndexBottom %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set showNavbar = false %}
{% set showTopLine = true %}
{% set showBottomLine = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}
{% call container({type:"cols-1", size:"narrow"},{class:"justify-items-center gap-16"}) %}
    <div class="flex items-center justify-center flex-col gap-8 w-full">
        {{ logo({class:"fill-neutral max-w-[760px]"}) }}
        <h1 class="sr-only">{{ global.siteTitle }}</h1>
        <p class="text-hue text-heading-base">{{ global.siteDescription }}</p>
    </div>
    {{ button({type:"button", size:"lg", variant:"action", label:"Enter site"},{href:"/home"}) }}
{% endcall %}
{% endblock %}

{% block blobs %}
    {{ blobIndexTop({class:"top-0 max-h-[25vh] w-full left-1/2 -translate-x-1/2 min-w-[620px]"}) }}
    {{ blobIndexBottom({class:"bottom-0 max-h-[25vh] w-full left-1/2 -translate-x-1/2 min-w-[620px]"}) }}
{% endblock %}
