{% extends "layouts/pageTwoColumn.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/markdown.njk" import markdown %}
{% from "components/carousel.njk" import carousel %}
{% from "components/figure.njk" import figure %}
{% from "assets.njk" import logo, sparkle, blobOffering %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = offeringsPage %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block panelContent %}
    {{ carousel(
        props={
            macro: figure,
            slides: data.slides,
            indicators: true
        },
        attrs={class:"grow max-h-full"}
    ) }}
{% endblock %}

{% block blobs %}
    {{ blobOffering({class:"hidden xl:block top-0 right-0 bottom-0 h-dvh max-w-[40vw] fixed"}) }}
    {{ blobDefaultTop({class:"xl:hidden top-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
    {{ blobDefaultBottom({class:"xl:hidden bottom-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
{% endblock %}
