{% extends "layouts/base.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/button.njk" import button %}
{% from "assets.njk" import logo, sparkle, blobOfferingsLeft, blobOfferingsRight %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-section gap-section lg:px-site-inline" %}
{% set showBottomLine = true %}
{% set showNavbar = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block content %}

<h1 class="sr-only">My Offerings</h1>

<ul class="text-heading-lg flex flex-col items-center gap-section">
    {% for offering in collections.offering %}
        <li>{{ button({type:"link", size:"inherit", variant:"action", label:offering.data.title },{href:offering.url}) }}</li>
    {% endfor %}

{% endblock %}

{% block blobs %}
    {{ blobOfferingsLeft({class:"hidden lg:block top-0 left-0 bottom-0 h-dvh fixed max-w-[25vw]"}) }}
    {{ blobOfferingsRight({class:"hidden lg:block top-0 right-0 bottom-0 h-dvh fixed max-w-[25vw]"}) }}
{% endblock %}
