{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/markdown.njk" import markdown %}
{% from "components/copyToClipboard.njk" import copyToClipboard %}
{% from "assets.njk" import logo, sparkle, blobOfferingsLeft, blobOfferingsRight %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = sponsorsGearPage %}
{% set mainStyles = "" %}
{% set showDivider = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}
    {% call section({padding: "site"}, {class:"py-section"}) %}
        {% call container(props={size: "narrow", type: "cols-1"}, attrs={class:"gap-12 items-center justify-items-center"}) %}

            {% set div = joiner(divider({direction:"horizontal"})) %}
            {% for sponsor in data.sponsors %}
                {{ div() }}
                <div class="grid lg:grid-cols-3 w-full gap-site-inline">
                    <div class="border border-neutral-lighter bg-neutral rounded-lg overflow-hidden self-start max-h-[50dvh] lg:h-full">
                        <img class="w-full h-full object-cover shrink" src="{{ sponsor.image }}" alt="{{ slide.caption }}">
                    </div>
                    {% call markdown({transform: false}, attrs={class:"col-span-2"}) %}
                        <h2>{{ sponsor.title }}</h2>
                        <p><a href="{{ sponsor.link }}">{{ sponsor.link }}</a></p>
                        <p>{{ sponsor.elaboration }}</p>
                        {% if sponsor.discountCode %}<p><b>Discount Code:</b>
                        {{ copyToClipboard(
                            props={
                                input: sponsor.discountCode,
                                trigger: { macro:button, props:{label:sponsor.discountCode, type:"link", variant:"action", size:"inherit"}, attrs:{"@click":"copy"} },
                                toastMessage: "Copied to clipboard!",
                                toasterId: ""
                            },
                            attrs={}
                        ) }}</p>
                        {% endif %}
                    {% endcall %}
                </div>
            {% endfor %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block blobs %}
    {{ blobOfferingsLeft({class:"hidden lg:block top-0 left-0 bottom-0 h-dvh fixed max-w-[15vw]"}) }}
    {{ blobOfferingsRight({class:"hidden lg:block top-0 right-0 bottom-0 h-dvh fixed max-w-[15vw]"}) }}

    {{ blobDefaultTop({class:"lg:hidden top-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
    {{ blobDefaultBottom({class:"lg:hidden bottom-0 h-[25vh] w-full left-1/2 -translate-x-1/2"}) }}
{% endblock %}
