{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "components/markdown.njk" import markdown %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set data = sponsorsGearPage %}
{% set mainStyles = "pt-24 pb-12 gap-12 lg:pt-40 lg:pb-56" %}
{% set showDivider = true %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block pageContent %}
    {% call container(props={size: "wide", type: "cols-1"}, attrs={class:"gap-12 items-center justify-items-center md:px-16"}) %}
        {{ markdown({content: body, transform: true}, attrs={class:"w-full max-w-content"}) }}
    {% endcall %}
{% endblock %}
