{% extends "layouts/page.njk" %}

{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "assets.njk" import blobContactLeft, blobContactRight %}

{# Content Source -------------------------------------------------------------------------------------------------------------------------- #}

{% set data = cms.successPage %}

{# Values ------------------------------------------------------------------------------------------------------------------------------ #}

{% set mainStyles = "py-12 gap-12 lg:py-32" %}

{# ------------------------------------------------------------------------------------------------------------------------------------- #}

{% block blobs %}
    {{ blobContactLeft({class:"fixed left-0 bottom-0 w-[50vw] max-w-[646px]"}) }}
    {{ blobContactRight({class:"fixed right-0 bottom-0 w-[50vw] max-w-[712px]"}) }}
{% endblock %}
